<h2><span data-translate="userManagement.home.createOrEditLabel">Create or edit a Project Info</span></h2>
<hr>
<form name="myForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="container-fluid">
    	<div class="row form-horizontal">
    		<div class="form-group">
    			<div class="col-sm-6">
		        		<label class="control-label" for="field_serialNum" data-translate="userManagement.serialNum">Serial Num</label>
		        		<input type="text" class="form-control" name="serialNum" id="field_serialNum"
		            		ng-model="vm.user.serialNum" ng-required="true" ng-minlength="1" ng-maxlength="50"
		                	/>
		           	<div ng-show="myForm.serialNum.$invalid">
		               	<p class="help-block"
		                  		ng-show="myForm.serialNum.$error.required" data-translate="entity.validation.required" style="color:red">
		                   	This field is required.
		               	</p>
		           	</div>
		   		</div>
	     		<div class="col-sm-6">
	          		<label class="control-label" for="field_lastName" data-translate="userManagement.lastName">Name</label>
	          		<input type="text" class="form-control" name="lastName" id="field_lastName"
	                  	ng-model="vm.user.lastName"  ng-required="true" ng-maxlength="50"
                   	/>
                   	 <div ng-show="myForm.lastName.$invalid">
	                   <p ng-show="myForm.lastName.$dirty && myForm.lastName.$error.maxlength" class="alert alert-danger help-block">
	                      	 姓名不能大于50
	                   </p>
	                   <p class="help-block"
	                 		ng-show="myForm.lastName.$error.required" data-translate="entity.validation.required" style="color:red">
	                   	This field is required.
	               		</p>
	               </div>
	      		</div>
	     	</div>
		   	<div class="form-group">
		   		<div class="col-sm-6">
	     			<label class="control-label" for="field_dept" data-translate="userManagement.dept">Dept</label>
	     			<div class="input-group">
		     			<input type="text" class="form-control" name="dept" id="field_dept"
		                  	ng-model="vm.user.dept" ng-required="true" readOnly="true"
		                   	/>
	                   	<span class="input-group-btn">
	                     	<button type="button" class="btn btn-default" ui-sref="{{vm.queryDept}}({selectType:2,showChild:true,showUser:false})"><i class="glyphicon glyphicon-home"></i></button>
	                 	</span>
	     			</div>
	     			<div ng-show="myForm.dept.$invalid">
	                   <p class="help-block"
	                 		ng-show="myForm.dept.$error.required" data-translate="entity.validation.required" style="color:red">
	                   		This field is required.
	               		</p>
	               </div>
				</div>
		   		<div class="col-sm-6">
	        		<label class="control-label" for="field_duty" data-translate="userManagement.duty">Duty</label>
	        		<input type="text" class="form-control" name="duty" id="field_duty"
	            		ng-model="vm.user.duty" 
	                	/>
		   		</div>
		   	</div>
    		<div class="form-group">
		   		<div class="col-sm-6">
		        		<label class="control-label" data-translate="userManagement.login" for="field_login">Login</label>
		        		<input type="text" class="form-control" name="login" id="field_login" ng-required="true"
		            		ng-model="vm.user.login" ng-minlength="1" ng-maxlength="60"
		                	/>
		           		<div ng-show="myForm.login.$invalid">
			               	<p class="help-block"
			                  	ng-show="myForm.login.$dirty&&myForm.login.$error.maxlength" class="alert alert-danger help-block">
			                   		登录名太长
			               	</p>
			               	<p class="help-block"
	                  				ng-show="myForm.login.$error.required" data-translate="entity.validation.required" style="color:red">
		                   		This field is required.
				        	</p>
		           		</div>
		   		</div>
		   		<div class="col-sm-6">
	                <label class="control-label" for="field_password" data-translate="userManagement.password">Password</label>
	                <input type="password" autocomplete="off" name="password" ng-minlength="4" ng-maxlength="60" ng-model="vm.user.password" class="form-control" id="field_password" />
	             	<div ng-show="myForm.password.$invalid">    
	                    <p class="help-block" 
	                    	ng-show="myForm.password.$dirty&&myForm.password.$error.maxlength" class="alert alert-danger help-block">
	                        	 密码不能超过60位
	                    </p>
	                    <p ng-show="myForm.password.$dirty&&myForm.password.$error.minlength" class="alert alert-danger help-block">
	                           	密码不能小于4位
	                    </p>
	            	</div>
		   		</div>
		   	</div>
		   	<div class="form-group" >
		   		<div class="col-sm-6">
		   			<label class="control-label" for="field_workArea" data-translate="userManagement.workArea">Work Area</label>
	        		<select class="form-control" name="workArea" ng-model="vm.user.workArea" id="field_workArea"
	            		ng-required="true"
		            	ng-options="allArea as allArea for allArea in vm.allAreas track by allArea">
		         	</select>
		           	<div ng-show="myForm.workArea.$invalid">
		               	<p class="help-block"
                  			ng-show="myForm.workArea.$error.required" data-translate="entity.validation.required" style="color:red">
	                   		This field is required.
			        	</p>
		           	</div>
            	</div>
            	<div class="col-sm-6">
            		<div class="col-sm-12">
        			&nbsp;
        			</div>
        			<div class="col-sm-6">
			         	<label class="control-label" for="field_isManager" data-translate="userManagement.isManager">
			 				Is Manager </label>
			 			<input type="checkbox" name="isManager" id="field_isManager"
		 							ng-model="vm.user.isManager"/>
		 			</div>
            	</div>
           	</div>
		   	<div class="form-group" >
		   		<div class="col-sm-6">
	               <label class="control-label" for="field_email" data-translate="userManagement.email">Email</label>
	               <input type="email" autocomplete="off" name="email" ng-minlength="5" ng-maxlength="30" ng-model="vm.user.email" class="form-control" id="field_email"/>
	               <div ng-show="myForm.email.$invalid">
	                   <p ng-show="myForm.email.$dirty && myForm.email.$error.maxlength" class="alert alert-danger help-block">
	                      	 邮箱长度不能大于30位
	                   </p>
	                   <p ng-show="myForm.email.$dirty && myForm.email.$error.minlength" class="alert alert-danger help-block">
	                      	 邮箱长度不能小于5位
	                   </p>
	                   <p ng-show="myForm.email.$dirty && myForm.email.$error.email" class="alert alert-danger help-block">
	                      	 邮箱格式不正确
	                   </p>
	               </div>
            	</div>
            	<div class="col-sm-6">
	               <label class="control-label" for="field_telephone" data-translate="userManagement.telephone">Telephone</label>
	               <input type="text" autocomplete="off" name="telephone" id="field_telephone" ng-minlength="11" ng-maxlength="11" ng-model="vm.user.telephone" class="form-control" ng-pattern="/^1[34578]\d{9}$/"/>
	               <div ng-show="myForm.telephone.$invalid">
	                   	<p ng-show="myForm.telephone.$dirty && myForm.telephone.$error.maxlength" class="alert alert-danger help-block">
	                      	 号码长度不能大于11位
	                   	</p>
	                   	<p ng-show="myForm.telephone.$dirty && myForm.telephone.$error.minlength" class="alert alert-danger help-block">
	                      	 号码长度不能小于11位
	                   	</p>
	                   	<p ng-show="myForm.telephone.$dirty && myForm.telephone.$error.pattern" class="alert alert-danger help-block">
                        	手机号码有误！请重填！
                    	</p>
	               </div>
            	</div>
           	</div>
		   	
		   	<div class="form-group">
		   		<div class="col-sm-6">
	        		<label class="control-label" for="field_gender" data-translate="userManagement.gender">Gender</label>
	        		<select class="form-control" name="projectId" ng-model="vm.user.gender" id="field_gender"
	            		ng-required="true"
		            	ng-options="gender.val for gender in vm.genders track by gender.key">
		         	</select>
		           	<div ng-show="myForm.gender.$invalid">
		               	<p class="help-block"
                  			ng-show="myForm.gender.$error.required" data-translate="entity.validation.required">
	                   		This field is required.
			        	</p>
		           	</div>
		   		</div>
		   		<div class="col-sm-6">
	        		<label class="control-label" for="field_grade" data-translate="userManagement.grade">Grade</label>
	                <select class="form-control" name="grade" ng-model="vm.user.grade" id="field_grade"
	            		ng-required="true"
		            	ng-options="grade for grade in vm.grades track by grade">
		         	</select>
		         	<div ng-show="myForm.grade.$invalid">
		               	<p class="help-block"
                  			ng-show="myForm.grade.$error.required" data-translate="entity.validation.required" style="color:red">
	                   		This field is required.
			        	</p>
		           	</div>
		   		</div>
		   	</div>
		   	<div class="form-group">
		   		<div class="col-sm-6">
		        		<label class="control-label" for="field_birthYear" data-translate="userManagement.birthYear">Birth Year</label>
		        		<input type="text" class="form-control" name="birthYear" id="field_birthYear" ng-minlength="4" ng-maxlength="4"
		            		ng-model="vm.user.birthYear" placeholder="例如:2017" step="1"
		                	/>
		           	<div ng-show="myForm.birthYear.$invalid">
		           		<p class="help-block"
		                  		ng-show="myForm.birthYear.$dirty&&myForm.birthYear.$error.minlength" data-translate="entity.validation.minlength"
		                  		translate-value-min="4">
		                   	This field cannot be longer than 4 characters.
		               	</p>
		               	<p class="help-block"
		                  		ng-show="myForm.birthYear.$dirty&&myForm.birthYear.$error.maxlength" data-translate="entity.validation.maxlength"
		                  		translate-value-max="4">
		                   	This field cannot be longer than 4 characters.
		               	</p>
		           	</div>
		   		</div>
		   		<div class="col-sm-6">
		        		<label class="control-label" for="field_birthDay" data-translate="userManagement.birthDay">Birth Day</label>
		        		<input type="text" class="form-control" name="birthDay" id="field_birthDay"
		            		ng-model="vm.user.birthDay" ng-minlength="4" ng-maxlength="4" placeholder="例如:0101" step="1"
		                	/>
		           	<div ng-show="myForm.birthDay.$invalid">
		               	<p class="help-block"
		                  		ng-show="myForm.birthDay.$dirty&&myForm.birthDay.$error.minlength" data-translate="entity.validation.minlength"
		                  		translate-value-min="4">
		                   	This field cannot be longer than 4 characters.
		               	</p>
		               	<p class="help-block"
		                  		ng-show="myForm.birthDay.$dirty&&myForm.birthDay.$error.maxlength" data-translate="entity.validation.maxlength"
		                  		translate-value-max="4">
		                   	This field cannot be longer than 4 characters.
		               	</p>
		           	</div>
		   		</div>
		   	</div>
		   	<div class="form-group">
		   		<div class="col-sm-6">
		            <label data-translate="userManagement.profiles">Profiles</label>
		            <select class="form-control" multiple name="authority" ng-model="vm.user.authorities" size="20"
		                    ng-options="authority.detail for authority in vm.authorities track by authority.name">
		            </select>
		    	</div>
		    	<div class="col-sm-6">
	        	</div>
        	</div>
		</div>
	</div>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<jhi-alert></jhi-alert>
    <button type="submit"
       ui-sref="{{ vm.previousState }}"
       class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    <button type="submit" ng-disabled="!myForm.$valid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
