.i-switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 25px;
	margin: 0;
	cursor: pointer;
	background-color: #27c24c;
	border-radius: 30px;
}

.i-switch input {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.i-switch input:checked+i:before {
	top: 50%;
	right: 5px;
	bottom: 50%;
	left: 50%;
	border-width: 0;
	border-radius: 5px;
}

.i-switch input:checked+i:after {
	margin-left: 16px;
}

.i-switch i:before {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	background-color: #C4C4C4;
	border: 1px solid #f0f0f0;
	border-radius: 30px;
	content: "";
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.i-switch i:after {
	position: absolute;
	top: 1px;
	bottom: 1px;
	width: 18px;
	background-color: #fff;
	border-radius: 50%;
	content: "";
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-transition: margin-left 0.3s;
	transition: margin-left 0.3s;
}

.m-t-xs {
	margin-top: 5px;
}

.m-r {
	margin-right: 15px;
}