<div>
    <h2 data-translate="cpmApp.consultantBonus.contractRecord.title">Consultant Record</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="btn-group flex-btn-group-container">
       	<button type="submit"
	           ng-click="vm.back()"
	           class="btn btn-info">
	       <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
	   	</button>
	</div>
    <div class="table-responsive">
        <table class="jh-table table table-striped" style="table-layout: fixed; ">
            <thead>
                <tr>
                    <th style="width:90px;"><span data-translate="cpmApp.consultantBonus.consultantsName">Consultants Name</span></th>
                	<th style="width:90px;"><span data-translate="cpmApp.consultantBonus.statTime">statWeek</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.contractSerialNum">Contract SerialNum</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.amount">Contract amount</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.bonusBasis">Bonus Basis</span></th>
                    <th style="width:90px;"><span data-translate="cpmApp.consultantBonus.bonusRate">Bonus Rate</span></th>
                    <th style="width:100px;"><span data-translate="cpmApp.consultantBonus.consultantsShareRate">Consultants Share Rate</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.currentBonus">Current Bonus</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.accumulationBonus">Accumulation Bonus</span></th>
                    <th style="width:60px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consultantBonus in vm.consultantBonuss track by consultantBonus.id">
                    <td>{{consultantBonus.consultantsName}}</td>
                	<td>{{consultantBonus.statWeek}}</td>
                    <td>{{consultantBonus.serialNum}}</td>
                    <td>{{consultantBonus.amount}}</td>
                    <td>{{consultantBonus.bonusBasis}}</td>
                    <td>{{consultantBonus.bonusRate}}<span ng-show="consultantBonus.id">%</span></td>
                    <td>{{consultantBonus.consultantsShareRate}}<span ng-show="consultantBonus.id">%</span></td>
                    <td>{{consultantBonus.currentBonus}}</td>
                    <td>{{consultantBonus.accumulationBonus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
