<div>
    <h2 data-translate="cpmApp.consultantBonus.home.title">Consultant Bonus</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <form name="searchForm" class="form-horizontal">
	           <div class="form-group">
	              	<div class="col-sm-4">
		          		<label class="col-sm-4 control-label" data-translate="cpmApp.consultantBonus.contractSerialNum">Contract serialnum</label>
			            <div class="col-sm-8">
			            	<select class="form-control" ng-model="vm.searchQuery.contractId" name="contractId"
				            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
				            	<option value="">--合同编号--</option>
				            </select>
			            </div>
		            </div>
					<div class="col-sm-4">
						<label class="col-sm-4 control-label" data-translate="cpmApp.consultantBonus.consultantsName">Consultants Name</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input type="text" class="form-control" name="consultantsName"
									ng-model="vm.searchQuery.consultantsName" readonly ng-required="true" ng-minlength="1" /> <span class="input-group-btn">
									<button type="button" class="btn btn-default" ui-sref="consultant-bonus.queryDept({selectType:3,showChild:true})">
										<i class="glyphicon glyphicon-user"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
       				<div class="col-sm-4">
       					<label class="col-sm-4 control-label" data-translate="cpmApp.consultantBonus.statWeek">statWeek</label>
		            	<div class="col-sm-8">
	                   		<div class="input-group">
			                    <input id="search_statWeek" type="text" class="form-control" name="statWeek" datetime-picker="yyyyMMdd"
			                    	enable-time="false" readonly
			                     	ng-model="vm.searchQuery.statWeek" is-open="vm.datePickerOpenStatus.statWeek"
			                      />
			                    <span class="input-group-btn">
			                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('statWeek')"><i class="glyphicon glyphicon-calendar"></i></button>
			                    </span>
		                	</div>
	            		</div>
       				</div>
       			</div>
       			<div class="form-group">
					<div class="col-sm-4 input-group pull-right">
						<div class="col-sm-12">
							<span class="width-min">
								<button class="btn btn-info" ng-click="vm.search()">
									<span class="glyphicon glyphicon-search"></span> <span
										class="hidden-xs hidden-sm"
										data-translate="entity.action.search"></span>
								</button>
							</span> <span class="width-min" ng-if="vm.haveSearch">
								<button class="btn btn-info" ng-click="vm.clear()">
									<span class="glyphicon glyphicon-trash"></span> <span
										class="hidden-xs hidden-sm"
										data-translate="entity.action.clear"></span>
								</button>
							</span> <span class="width-min">
								<button class="btn btn-info" ng-click="vm.exportXls()">
									<span class="glyphicon glyphicon-save"></span> <span
										class="hidden-xs hidden-sm"
										data-translate="entity.action.export"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
           </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped" style="table-layout: fixed; ">
            <thead>
                <tr>
                    <th style="width:80px;"><span data-translate="cpmApp.consultantBonus.consultantsName">Consultants Name</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.contractSerialNum">Contract SerialNum</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.amount">Contract amount</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.bonusBasis">Bonus Basis</span></th>
                    <th style="width:90px;"><span data-translate="cpmApp.consultantBonus.bonusRate">Bonus Rate</span></th>
                    <th style="width:90px;"><span data-translate="cpmApp.consultantBonus.consultantsShareRate">Consultants Share Rate</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.currentBonus">Current Bonus</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.consultantBonus.accumulationBonus">Accumulation Bonus</span></th>
                    <th style="width:60px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consultantBonus in vm.consultantBonuss track by consultantBonus.id">
                    <td>{{consultantBonus.consultantsName}}</td>
                    <td>{{consultantBonus.serialNum}}</td>
                    <td>{{consultantBonus.amount}}</td>
                    <td>{{consultantBonus.bonusBasis}}</td>
                    <td>{{consultantBonus.bonusRate}}<span ng-show="consultantBonus.id">%</span></td>
                    <td>{{consultantBonus.consultantsShareRate}}<span ng-show="consultantBonus.id">%</span></td>
                    <td>{{consultantBonus.currentBonus}}</td>
                    <td>{{consultantBonus.accumulationBonus}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container" ng-show="consultantBonus.id">
						    <button type="button" ui-sref="consultant-bonus-contractRecord({contId:consultantBonus.contractId})" class="btn btn-primary btn-sm">
						        <span class="glyphicon glyphicon-pencil"></span>
						        <span class="hidden-xs hidden-sm" data-translate="cpmApp.consultantBonus.transDetail">Detail</span>
						    </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
