<h2><span data-translate="cpmApp.contractUser.home.createOrEditLabel">Create or edit a Contract User</span></h2>
<hr>
<jhi-alert></jhi-alert>
<jhi-alert-error></jhi-alert-error>
<form name="myForm" role="form" novalidate ng-submit="vm.save()">
	<div class="container-fluid">
		<div class="row form-horizontal">
			<input type="hidden" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.contractUser.userId"
                     />
			<div class="form-group">
				<div class="col-sm-6">
			        <label class="control-label" data-translate="cpmApp.contractUser.contractId" for="field_contractId">Contract Id</label>
	            	<select class="form-control" name="contractId" ng-model="vm.contractUser.contractId" id="field_contractId"
	            		ng-required="true" ng-disabled="vm.contractUser.id"
		            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
		            </select>
		            <div class="help-block"
	                   ng-show="myForm.contractId.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
			    </div>
            	<div class="col-sm-6">
            	</div>
			</div>
	     	<div class="form-group">
            	<div class="col-sm-6">
            		<label class="control-label" data-translate="cpmApp.contractUser.userName" for="field_userName">User Name</label>
            		<div class="input-group">
		          		<input type="text" class="form-control" name="userName" id="field_userName"
		                  	ng-model="vm.contractUser.userName" readonly ng-required="true" ng-minlength="1"
	                   	/>
	                   	<span class="input-group-btn">
	                     	<button type="button"  ng-disabled="vm.contractUser.id" class="btn btn-default" ui-sref="{{vm.queryDept}}({selectType:3,showChild:true})"><i class="glyphicon glyphicon-user"></i></button>
	                 	</span>
	            	</div>
	            	<div class="help-block"
	                   ng-show="myForm.userName.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
            	</div>
            	<div class="col-sm-6">
	         	</div>
			</div>
	        <div class="form-group">
	        	<div class="col-sm-6">
		            <label class="control-label" data-translate="cpmApp.contractUser.joinDay" for="field_joinDay">Join Day</label>
	                <div class="input-group">
	                    <input id="field_joinDay" type="text" class="form-control" name="joinDay" datetime-picker="yyyyMMdd"
	                    	enable-time="false" ng-required="true" ng-minlength="1" readonly
	                     	ng-model="vm.contractUser.joinDay" is-open="vm.datePickerOpenStatus.joinDay"
	                      />
	                      
	                    <span class="input-group-btn">
	                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('joinDay')"><i class="glyphicon glyphicon-calendar"></i></button>
	                    </span>
	                </div>
	                <div class="help-block"
	                   ng-show="myForm.joinDay.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
	         	</div>
	         	<div class="col-sm-6">
		            <label class="control-label" data-translate="cpmApp.contractUser.leaveDay" for="field_leaveDay">Leave Day</label>
	                <div class="input-group">
	                    <input id="field_leaveDay" type="text" class="form-control" name="leaveDay" datetime-picker="yyyyMMdd"
	                    	enable-time="false" readonly
	                     	ng-model="vm.contractUser.leaveDay" is-open="vm.datePickerOpenStatus.leaveDay"
	                      />
	                    <span class="input-group-btn">
	                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('leaveDay')"><i class="glyphicon glyphicon-calendar"></i></button>
	                    </span>
	                </div>
	         	</div>
	        </div>
		</div>
	</div>
	<hr>
	<button type="submit"
        ui-sref="{{vm.previousState}}"
        class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    <button type="submit" ng-disabled="!myForm.$valid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
