<div>
    <h2 data-translate="cpmApp.contractUser.home.title">Contract Users</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row form-horizontal">
	        <div class="form-group">
	            <div class="col-xs-12">
	                <button class="btn btn-primary" ui-sref="contract-user.new" >
	                    <span class="glyphicon glyphicon-plus"></span>
	                    <span data-translate="cpmApp.contractUser.home.createLabel">
	                        Create new Contract User
	                    </span>
	                </button>
	            </div>
	       	</div>
		</div>
		<form name="searchForm" class="form-horizontal">
			<div class="form-group">
	            <div class="col-sm-4">
	          		<label class="col-sm-4 control-label" data-translate="cpmApp.contractUser.contractId">Contract ID</label>
		            <div class="col-sm-8">
		            	<select class="form-control" ng-model="vm.searchQuery.contractId"
			            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
			            	<option value="">--合同编号--</option>
			            </select>
		            </div>
	            </div>
	            <div class="col-sm-4">
	          		<label class="col-sm-4 control-label" data-translate="cpmApp.contractUser.userName">User Name</label>
                    <div class="col-sm-8" >
	                   	<div class="input-group">
			          		<input type="text" class="form-control" name="userName"
			                  	ng-model="vm.searchQuery.userName" readonly ng-required="true" ng-minlength="1"
		                   	/>
		                   	<span class="input-group-btn">
		                     	<button type="button" class="btn btn-default" ui-sref="contract-user.queryDept({selectType:3,showChild:true})"><i class="glyphicon glyphicon-user"></i></button>
		                 	</span>
		            	</div>
                    </div>
	            </div>
	            <div class="col-sm-4 pull-right">
	            	<div class="col-sm-4">
	            		&nbsp;
	            	</div>
	            	<div class="col-sm-8" >
		            	<span  class="width-min" >
	                        <button class="btn btn-info" ng-click="vm.search()">
	                            <span class="glyphicon glyphicon-search"></span>
	                            <span data-translate="entity.action.search"></span>
	                        </button>
	                    </span>
	                    <span class="width-min" ng-if="vm.haveSearch">
	                        <button class="btn btn-info" ng-click="vm.clear()">
	                            <span class="glyphicon glyphicon-trash"></span>
	                            <span data-translate="entity.action.clear"></span>
	                        </button>
	                    </span>
	            	</div>
	            </div>
            </div>
		</form>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="wcu.id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.serial_num"><span data-translate="cpmApp.contractUser.contractId">Contract Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.name_"><span data-translate="cpmApp.contractUser.contractName">Contract Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcu.user_name"><span data-translate="cpmApp.contractUser.userName">User Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcu.dept_"><span data-translate="cpmApp.contractUser.dept">Dept Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcu.join_day"><span data-translate="cpmApp.contractUser.joinDay">Join Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcu.leave_day"><span data-translate="cpmApp.contractUser.leaveDay">Leave Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcu.update_time"><span data-translate="cpmApp.contractUser.updateTime">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contractUser in vm.contractUsers track by contractUser.id">
                    <td><a ui-sref="contract-user-detail({id:contractUser.id})">{{contractUser.id}}</a></td>
                    <td>{{contractUser.contractNum}}</td>
                    <td>{{contractUser.contractName}}</td>
                    <td>{{contractUser.userName}}</td>
                    <td>{{contractUser.dept}}</td>
                    <td>{{contractUser.joinDay }}</td>
                    <td>{{contractUser.leaveDay}}</td>
                    <td>{{contractUser.updateTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contract-user-detail({id:contractUser.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contract-user.edit({id:contractUser.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contract-user.delete({id:contractUser.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
