<h2><span data-translate="cpmApp.contractReceive.home.createOrEditLabel">Create or edit a Contract Receive</span></h2>
<hr>
<form name="myForm" role="form" ng-submit="vm.save()">
	<div class="container-fluid">
		<div class="row form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
		            <label class="control-label" data-translate="cpmApp.contractReceive.contractId" for="field_contractId">Contract Id</label>
              		<select class="form-control"  name="contractId" id="field_contractId" ng-model="vm.contractReceive.contractId"
	            		ng-required="true" ng-disabled="vm.contractReceive.id"
		            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
		         	</select>
	                <div class="help-block"
	                   ng-hide="vm.contractReceive.contractId" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
        		</div>
        		<div class="col-sm-6">
        			<label class="control-label" data-translate="cpmApp.contractReceive.receiver" for="field_receiver">Receiver</label>
	          		<div class="input-group">
		          		<input type="text" class="form-control" name="receiver" id="field_receiver"
		                  	ng-model="vm.contractReceive.receiver" readonly ng-required="true"
	                   	/>
	                   	<span class="input-group-btn">
	                     	<button type="button" class="btn btn-default" ui-sref="{{vm.queryDept}}({selectType:3,showChild:true,dataType:1})"><i class="glyphicon glyphicon-user"></i></button>
	                 	</span>
	            	</div>
	                <div class="help-block"
	                   ng-show="myForm.receiver.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
        		</div>
        	</div>
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.contractReceive.receiveDay" for="field_receiveDay">Day</label>
	                <div class="input-group">
	                    <input id="field_receiveDay" type="text" class="form-control" name="receiveDay" datetime-picker="yyyyMMdd"
	                    	enable-time="false" ng-required="true" ng-minlength="1" readonly
	                     	ng-model="vm.contractReceive.receiveDay" is-open="vm.datePickerOpenStatus.receiveDay"
	                      />
	                    <span class="input-group-btn">
	                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('receiveDay')"><i class="glyphicon glyphicon-calendar"></i></button>
	                    </span>
	                </div>
	                <div class="help-block"
	                   ng-hide="vm.contractReceive.receiveDay" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
        		</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.contractReceive.receiveTotal" for="field_receiveTotal">Receive Total</label>
	            	<input type="number" class="form-control" name="receiveTotal" id="field_receiveTotal"
	                    ng-model="vm.contractReceive.receiveTotal" step="0.01" min="0" ng-required="true"
	                     />
					<div class="help-block"
	                   ng-show="myForm.receiveTotal.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
				</div>
        	</div>
	  	</div>
    </div>
    <hr>
    <jhi-alert></jhi-alert>
	<jhi-alert-error></jhi-alert-error>
    <button type="button" class="btn btn-info" ui-sref="{{ vm.previousState }}">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="!myForm.$valid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
