<div>
    <h2 data-translate="cpmApp.productPrice.home.title">Product Prices</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row form-horizontal">
        	<div class="form-group">
            	<div class="col-xs-12">
                	<button class="btn btn-primary" ui-sref="product-price.new" >
                    	<span class="glyphicon glyphicon-plus"></span>
                    	<span data-translate="cpmApp.productPrice.home.createLabel">
                        	Create new Product Price
                    	</span>
                	</button>
            	</div>
           	</div>
         </div>
         <form name="searchForm" class="form-horizontal">
          	<div class="form-group" >
	             <div class="col-sm-4">
	            	<label class="col-sm-4 control-label" data-translate="cpmApp.productPrice.type">Type</label>
	              	<div class="col-sm-8">
						<select class="form-control" name="type" ng-model="vm.searchQuery.type"
							ng-options="type.name for type in vm.types track by type.id">
							<option value="" data-translate="cpmApp.productPrice.home.search">Please chose type</option>
						</select>
	     			</div>	 	
	       		</div>	
	        	<div class="col-sm-4">
	        		<label class="col-sm-4 control-label" data-translate="cpmApp.productPrice.source">source</label>
	      			<div class="col-sm-8">
						<select class="form-control" name="source" ng-model="vm.searchQuery.source"
							ng-options="source.name for source in vm.sources track by source.id">
							<option value="" data-translate="cpmApp.productPrice.home.search">Please chose source</option>
						</select>
	      			</div>
	      		</div>
	        	<div class="col-sm-4">
	        		<label class="col-sm-4 control-label" data-translate="cpmApp.productPrice.name">Name</label>
	      			<div class="col-sm-8">
	      		   	<input type="text" class="form-control" ng-model="vm.searchQuery.name">
	      			</div>		
	        	</div>
        	</div> 
        	<div class="form-group">
        		<div class="col-sm-4">
	            </div>
	            <div class="col-sm-4">
	            </div>
        		<div class="col-sm-4 pull-right">
		        	<div class="col-sm-4">
		        	</div>
		        	<div class="col-sm-8" >
		         		<span  class="width-min" >
		                	<button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
		                       <span class="glyphicon glyphicon-search"></span>
		                       <span data-translate="entity.action.search"></span>
		                   </button>   
		                </span>
		                <span class="width-min" ng-if="vm.currentSearch.haveSearch">
		                    <button class="btn btn-info" ng-click="vm.clear()">
		                        <span class="glyphicon glyphicon-trash"></span>
		                        <span data-translate="entity.action.clear"></span>
		                    </button>
		                </span>
		        	</div>
	        	</div>
        	</div>
    	</form>       
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="wpp.name"><span data-translate="cpmApp.productPrice.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpp.type"><span data-translate="cpmApp.productPrice.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpp.units"><span data-translate="cpmApp.productPrice.units">Units</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpp.price"><span data-translate="cpmApp.productPrice.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpp.source"><span data-translate="cpmApp.productPrice.source">Source</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpp.updateTime"><span data-translate="cpmApp.productPrice.updateTime">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="productPrice in vm.productPrices track by productPrice.id">
                    <td><a ui-sref="product-price-detail({id:productPrice.id})">{{productPrice.name}}</a></td>
                    <td>{{productPrice.typeName}}</td>
                    <td>{{productPrice.units}}</td>
                    <td>{{productPrice.price}}</td>
                    <td>{{productPrice.sourceName}}</td>
                    <td>{{productPrice.updateTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="product-price-detail({id:productPrice.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product-price.edit({id:productPrice.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="product-price.delete({id:productPrice.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
