<h2><span data-translate="cpmApp.productPrice.home.createOrEditLabel">Create or edit a Product Price</span></h2>
<hr>
<form name="myForm" role="form" ng-submit="vm.save()">
	<div class="container-fluid">
		<div class="row form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.productPrice.name" for="field_name"> Name</label>
					<input type="text" class="form-control" id="field_name" name="name"
                		ng-model="vm.productPrice.name" ng-required="true" ng-minlength="1" ng-maxlength="100" />
                	<div ng-show="myForm.name.$dirty&&myForm.name.$error.maxlength" class="alert alert-danger help-block"> 
                    	定价单名称不能大于100
                	</div>
                	<div class="help-block"
	                   ng-show="myForm.name.$error.required" data-translate="cpmApp.productPrice.home.required" style="color:red">
	                    	This field is required.
	                </div>
				</div>
			</div>
			<div class="form-group">
	     		<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.productPrice.type" for="field_type">Type</label>
	         		<select class="form-control" name="type" ng-model="vm.productPrice.type" id="field_type"
	            		ng-required="true"
		            	ng-options="type.name for type in vm.types track by type.id">
		            </select>
		            <div class="help-block"
	                   ng-hide="vm.productPrice.type" data-translate="cpmApp.productPrice.home.required1" style="color:red">
	                    This field is required.
	                </div>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.productPrice.source" for="field_source" >Source</label>
	                <select class="form-control" name="source" ng-model="vm.productPrice.source" id="field_source"
	            		ng-required="true"
		            	ng-options="source.name for source in vm.sources track by source.id">
		            </select>
		            <div class="help-block"
	                   ng-hide="vm.productPrice.source" data-translate="cpmApp.productPrice.home.required2" style="color:red">
	                    This field is required.
	                </div>
				</div>
	     	</div>
	     	<div class="form-group">
	     		<div class="col-sm-6">
	          		<label class="control-label" data-translate="cpmApp.productPrice.units" for="field_units">Units</label>
		          		<input type="text" class="form-control" name="units" id="field_units"
		                  	ng-model="vm.productPrice.units" ng-required="true" ng-minlength="1"
	                   	/>
                   	<div class="help-block"
	                   ng-hide="vm.productPrice.units" data-translate="cpmApp.productPrice.home.required3" style="color:red">
	                    This field is required.
	                </div>
	      		</div>
				<div class="col-sm-6">
	     			<label class="control-label" data-translate="cpmApp.productPrice.price" for="field_price" >Price</label>
	  				<input type="number" class="form-control" name="price" id="field_price"
	                  	ng-model="vm.productPrice.price" ng-required="true" min="0"
	                   	/>
                   	<div ng-show="myForm.price.$dirty&&myForm.price.$error.number" class="alert alert-danger help-block"> 
                    	单价必须为数字
                	</div>
                	<div ng-show="myForm.price.$dirty&&myForm.price.$error.min" class="alert alert-danger help-block"> 
                		单价最小值为0
           			</div>
           			<div class="help-block"
	                   ng-hide="vm.productPrice.price" data-translate="cpmApp.productPrice.home.required4" style="color:red">
	                    This field is required.
	                </div>
				</div>
	     	</div>
		</div>
	</div>
	<hr>
	<jhi-alert></jhi-alert>
	<jhi-alert-error></jhi-alert-error>
    <button type="submit"
        ui-sref="{{ vm.previousState }}"
        class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    <button type="submit" ng-disabled="!myForm.$valid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
