<div>
    <h2 data-translate="cpmApp.contractInfo.home.title">Contract Infos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
    	<div class="row form-horizontal">
	        <div class="form-group">
	            <div class="col-xs-12">
	                <button class="btn btn-primary" ui-sref="contract-info.new" >
	                    <span class="glyphicon glyphicon-plus"></span>
	                    <span data-translate="cpmApp.contractInfo.home.createLabel">
	                        Create new Contract Info
	                    </span>
	                </button>
	            </div>
	        </div>
	     </div>
       	<form name="searchForm" class="form-horizontal">
     	<div class="form-group">
        	<div class="col-sm-4">
            	<label class="col-sm-4 control-label" data-translate="cpmApp.contractInfo.serialNum">Serial Num</label>
                   <div class="col-sm-8" >
                   	<input type="text" class="form-control" name="serialNum" ng-model="vm.searchQuery.serialNum">
                   </div>
            </div>
    	   	<div class="col-sm-4">
            	<label class="col-sm-4 control-label" data-translate="cpmApp.contractInfo.name">Name</label>
                   <div class="col-sm-8" >
                   	<input type="text" class="form-control" name="name" ng-model="vm.searchQuery.name">
                   </div>
            </div>
            <div class="col-sm-4">
          		<label class="col-sm-4 control-label" data-translate="cpmApp.contractInfo.type">Type</label>
	            <div class="col-sm-8">
	                <select class="form-control" name="type" ng-model="vm.searchQuery.type"
		            	ng-options="type.val for type in vm.types track by type.key">
		            	<option value="">--选择类型--</option>
		            </select>
	            </div>
            </div>
	     </div>
	     
	      <div class="form-group">
	            <div class="col-sm-4">
		            <label class="col-sm-4 control-label" data-translate="cpmApp.contractInfo.isPrepared">Is Prepared</label>
		            <div class="col-sm-8">
		                <select class="form-control" name="isPrepared" ng-model="vm.searchQuery.isPrepared"
			            	ng-options="isPrepared.val for isPrepared in vm.isPrepareds track by isPrepared.key">
			            	<option value="">--选择--</option>
			            </select>
		            </div>
	            </div>
	            <div class="col-sm-4">
	            	<label class="col-sm-4 control-label" data-translate="cpmApp.contractInfo.isEpibolic">Is Epibolic</label>
		            <div class="col-sm-8">
		                <select class="form-control" name="isEpibolic" ng-model="vm.searchQuery.isEpibolic"
			            	ng-options="isEpibolic.val for isEpibolic in vm.isEpibolics track by isEpibolic.key">
			            	<option value="">--选择--</option>
			            </select>
		            </div>
	            </div>
	            <div class="col-sm-4 pull-right">
	            	<div class="col-sm-4">
	            		&nbsp;
	            	</div>
	            	<div class="col-sm-8" >
		            	<span  class="width-min" >
	                        <button class="btn btn-info" ng-click="vm.search()">
	                            <span class="glyphicon glyphicon-search"></span>
	                            <span data-translate="entity.action.search"></span>
	                        </button>
	                    </span>
	                    <span class="width-min" ng-if="vm.haveSearch">
	                        <button class="btn btn-info" ng-click="vm.clear()">
	                            <span class="glyphicon glyphicon-trash"></span>
	                            <span data-translate="entity.action.clear"></span>
	                        </button>
	                    </span>
	            	</div>
	            </div>
            </div>
        </form>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="wci.serialNum"><span data-translate="cpmApp.contractInfo.serialNum">Serial Num</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.name"><span data-translate="cpmApp.contractInfo.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.type"><span data-translate="cpmApp.contractInfo.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.isPrepared"><span data-translate="cpmApp.contractInfo.isPrepared">Is Prepared</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.isEpibolic"><span data-translate="cpmApp.contractInfo.isEpibolic">Is Epibolic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="wci.salesman"><span data-translate="cpmApp.contractInfo.salesman">salesman</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.startDay"><span data-translate="cpmApp.contractInfo.startDay">Start Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.endDay"><span data-translate="cpmApp.contractInfo.endDay">End Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="wci.contractor"><span data-translate="cpmApp.contractInfo.contractor">Contractor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.finishRate"><span data-translate="cpmApp.contractInfo.finishRate">Finish Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.status"><span data-translate="cpmApp.contractInfo.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contractInfo in vm.contractInfos track by contractInfo.id">
                    <td><a ui-sref="contract-info-detail({id:contractInfo.id})">{{contractInfo.serialNum}}</a></td>
                    <td>{{contractInfo.name}}</td>
                    <td>{{contractInfo.typeName}}</td>
                    <td>{{contractInfo.isPreparedName}}</td>
                    <td>{{contractInfo.isEpibolicName}}</td>
                    <td ng-hide="vm">{{contractInfo.salesman}}</td>
                    <td>{{contractInfo.startDay | date:'shortDate'}}</td>
                    <td>{{contractInfo.endDay | date:'shortDate'}}</td>
                    <td ng-hide="vm">{{contractInfo.contractor}}</td>
                    <td>{{contractInfo.finishRate}}</td>
                    <td>{{contractInfo.statusName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contract-info-detail({id:contractInfo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contract-info.edit({id:contractInfo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contract-info.finRate({id:contractInfo.id})"
                                    class="btn btn-warning btn-sm">
                                <span class="glyphicon glyphicon-indent-left"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contract-info.end({id:contractInfo.id})"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-off"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contract-info.delete({id:contractInfo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
