<div>
    <h2 data-translate="cpmApp.contractInfo.home.title">Contract Infos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="contract-info.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="cpmApp.contractInfo.home.createLabel">
                        Create new Contract Info
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'cpmApp.contractInfo.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th ng-hide="vm" jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serialNum"><span data-translate="cpmApp.contractInfo.serialNum">Serial Num</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="cpmApp.contractInfo.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span data-translate="cpmApp.contractInfo.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="cpmApp.contractInfo.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPrepared"><span data-translate="cpmApp.contractInfo.isPrepared">Is Prepared</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isEpibolic"><span data-translate="cpmApp.contractInfo.isEpibolic">Is Epibolic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="startDay"><span data-translate="cpmApp.contractInfo.startDay">Start Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="endDay"><span data-translate="cpmApp.contractInfo.endDay">End Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="taxRate"><span data-translate="cpmApp.contractInfo.taxRate">Tax Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="taxes"><span data-translate="cpmApp.contractInfo.taxes">Taxes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="shareRate"><span data-translate="cpmApp.contractInfo.shareRate">Share Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="shareCost"><span data-translate="cpmApp.contractInfo.shareCost">Share Cost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentWay"><span data-translate="cpmApp.contractInfo.paymentWay">Payment Way</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contractor"><span data-translate="cpmApp.contractInfo.contractor">Contractor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="address"><span data-translate="cpmApp.contractInfo.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="postcode"><span data-translate="cpmApp.contractInfo.postcode">Postcode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="linkman"><span data-translate="cpmApp.contractInfo.linkman">Linkman</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="contactDept"><span data-translate="cpmApp.contractInfo.contactDept">Contact Dept</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th ng-hide="vm" jh-sort-by="telephone"><span data-translate="cpmApp.contractInfo.telephone">Telephone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiveTotal"><span data-translate="cpmApp.contractInfo.receiveTotal">Receive Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="finishRate"><span data-translate="cpmApp.contractInfo.finishRate">Finish Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="cpmApp.contractInfo.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contractInfo in vm.contractInfos track by contractInfo.id">
                    <td ng-hide="vm"><a ui-sref="contract-info-detail({id:contractInfo.id})">{{contractInfo.id}}</a></td>
                    <td>{{contractInfo.serialNum}}</td>
                    <td>{{contractInfo.name}}</td>
                    <td>{{contractInfo.amount}}</td>
                    <td>{{contractInfo.type}}</td>
                    <td>{{contractInfo.isPrepared}}</td>
                    <td>{{contractInfo.isEpibolic}}</td>
                    <td ng-hide="vm">{{contractInfo.startDay | date:'medium'}}</td>
                    <td ng-hide="vm">{{contractInfo.endDay | date:'medium'}}</td>
                    <td ng-hide="vm">{{contractInfo.taxRate}}</td>
                    <td ng-hide="vm">{{contractInfo.taxes}}</td>
                    <td ng-hide="vm">{{contractInfo.shareRate}}</td>
                    <td ng-hide="vm">{{contractInfo.shareCost}}</td>
                    <td>{{contractInfo.paymentWay}}</td>
                    <td>{{contractInfo.contractor}}</td>
                    <td ng-hide="vm">{{contractInfo.address}}</td>
                    <td ng-hide="vm">{{contractInfo.postcode}}</td>
                    <td ng-hide="vm">{{contractInfo.linkman}}</td>
                    <td ng-hide="vm">{{contractInfo.contactDept}}</td>
                    <td ng-hide="vm">{{contractInfo.telephone}}</td>
                    <td >{{contractInfo.receiveTotal}}</td>
                    <td>{{contractInfo.finishRate}}</td>
                    <td >{{contractInfo.status}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contract-info-detail({id:contractInfo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contract-info.edit({id:contractInfo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contract-info.delete({id:contractInfo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
