<h2><span data-translate="cpmApp.contractInfo.finish.title">Create or edit a Contract Info</span></h2>
<hr>
<jhi-alert></jhi-alert>
<jhi-alert-error></jhi-alert-error>
<form name="myForm" role="form" ng-submit="vm.save()">
	<div class="container-fluid">
		<div class="row form-horizontal">
	        <div class="form-group" ng-show="vm.contractInfo.id">
				<div class="col-sm-6">
		            <label data-translate="cpmApp.contractInfo.serialNum">serialNum</label>
		            <input type="text" class="form-control" name="serialNum"
		                    ng-model="vm.contractInfo.serialNum" readonly />
		        </div>
		        <div class="col-sm-6">
		            <label data-translate="cpmApp.contractInfo.name">Name</label>
		            <input type="text" class="form-control" name="name"
		                    ng-model="vm.contractInfo.name" readonly />
		        </div>
		   	</div>
	        <div class="form-group">
	        	<div class="col-sm-6">
		            <label class="control-label" data-translate="cpmApp.contractInfo.finishRate" for="field_serialNum">finishRate</label>
		            <input type="text" class="form-control" name="finishRate" id="field_finishRate"
		                    ng-model="vm.contractInfo.finishRate" ng-required="true" ng-minlength="1" step="0.01" min="0"
		                     />
		            <div ng-show="myForm.finishRate.$dirty&&myForm.finishRate.$error.number" class="alert alert-danger help-block"> 
		            	必须为数字
		            </div>  
		            <div ng-show="myForm.finishRate.$dirty&&myForm.finishRate.$error.min" class="alert alert-danger help-block"> 
                		最小值为0
           			</div>      
		        </div>
		   	</div>
	  	</div>
    </div>
    <button type="submit"
        ui-sref="{{ vm.previousState }}"
        class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    <button type="submit" ng-disabled="!myForm.$valid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
