
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <h2 class="modal-title" id="myContractInfoLabel" data-translate="cpmApp.contractInfo.home.createOrEditLabel">Create or edit a Contract Info</h2>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contractInfo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contractInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.serialNum" for="field_serialNum">Serial Num</label>
            <input type="text" class="form-control" name="serialNum" id="field_serialNum"
                    ng-model="vm.contractInfo.serialNum"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.contractInfo.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.contractInfo.amount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.type" for="field_type">Type</label>
            <input type="number" class="form-control" name="type" id="field_type"
                    ng-model="vm.contractInfo.type"
                     />
        </div>
        <div class="form-group">
	       	<div class="col-sm-6">
	       		  <label class="control-label" data-translate="cpmApp.contractInfo.isPrepared" for="field_isPrepared">
	 				Is Prepared </label> 
	 				<input type="checkbox" name="isPrepared" id="field_isPrepared"
	                    		ng-model="vm.contractInfo.isPrepared"/>
	        </div>
	        <div class="col-sm-6">
	         	<label class="control-label"  data-translate="cpmApp.contractInfo.isEpibolic" for="field_isEpibolic">
	 				Is Epibolic </label>
	 			<input type="checkbox" name="isEpibolic" id="field_isEpibolic"
	 							ng-model="vm.contractInfo.isEpibolic"/>
	        </div>
        </div>
         <div class="form-group">
         	<label class="control-label" data-translate="cpmApp.contractInfo.salesman" for="field_type">Type</label>
           	<select class="form-control" name="type" ng-model="vm.searchQuery.type"
			            	ng-options="type.name for type in vm.types track by type.id">
			            	<option value="">--选择销售人员--</option>
			</select>
         </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.startDay" for="field_startDay">Start Day</label>
                <div class="input-group">
                    <input id="field_startDay" type="text" class="form-control" name="startDay" datetime-picker="{{dateformat}}" ng-model="vm.contractInfo.startDay" is-open="vm.datePickerOpenStatus.startDay"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDay')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.endDay" for="field_endDay">End Day</label>
                <div class="input-group">
                    <input id="field_endDay" type="text" class="form-control" name="endDay" datetime-picker="{{dateformat}}" ng-model="vm.contractInfo.endDay" is-open="vm.datePickerOpenStatus.endDay"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDay')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.taxRate" for="field_taxRate">Tax Rate</label>
            <input type="number" class="form-control" name="taxRate" id="field_taxRate"
                    ng-model="vm.contractInfo.taxRate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.taxes" for="field_taxes">Taxes</label>
            <input type="number" class="form-control" name="taxes" id="field_taxes"
                    ng-model="vm.contractInfo.taxes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.shareRate" for="field_shareRate">Share Rate</label>
            <input type="number" class="form-control" name="shareRate" id="field_shareRate"
                    ng-model="vm.contractInfo.shareRate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.shareCost" for="field_shareCost">Share Cost</label>
            <input type="number" class="form-control" name="shareCost" id="field_shareCost"
                    ng-model="vm.contractInfo.shareCost"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.paymentWay" for="field_paymentWay">Payment Way</label>
            <input type="text" class="form-control" name="paymentWay" id="field_paymentWay"
                    ng-model="vm.contractInfo.paymentWay"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.contractor" for="field_contractor">Contractor</label>
            <input type="text" class="form-control" name="contractor" id="field_contractor"
                    ng-model="vm.contractInfo.contractor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.contractInfo.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.postcode" for="field_postcode">Postcode</label>
            <input type="text" class="form-control" name="postcode" id="field_postcode"
                    ng-model="vm.contractInfo.postcode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.linkman" for="field_linkman">Linkman</label>
            <input type="text" class="form-control" name="linkman" id="field_linkman"
                    ng-model="vm.contractInfo.linkman"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.contactDept" for="field_contactDept">Contact Dept</label>
            <input type="text" class="form-control" name="contactDept" id="field_contactDept"
                    ng-model="vm.contractInfo.contactDept"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.telephone" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                    ng-model="vm.contractInfo.telephone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.receiveTotal" for="field_receiveTotal">Receive Total</label>
            <input type="number" class="form-control" name="receiveTotal" id="field_receiveTotal"
                    ng-model="vm.contractInfo.receiveTotal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.finishRate" for="field_finishRate">Finish Rate</label>
            <input type="number" class="form-control" name="finishRate" id="field_finishRate"
                    ng-model="vm.contractInfo.finishRate"
                     />
        </div>
         <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractInfo.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.contractInfo.status"
                     />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
