<h2><span data-translate="cpmApp.contractInfo.home.createOrEditLabel">Create or edit a Contract User</span></h2>
<hr>
<jhi-alert></jhi-alert>
<jhi-alert-error></jhi-alert-error>
<form name="myForm" role="form" novalidate ng-submit="vm.save()">
	<div class="container-fluid">
		<div class="row form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
			        <label class="control-label" data-translate="cpmApp.outsourcing.rank" for="field_rank">Rank</label>
	            	<input type="text" class="form-control" name="rank" ng-model="vm.outsourcingUser.rank" id="field_rank"
	            		ng-required="true" ng-disabled="vm.outsourcingUser.id"
		            </>
		            <div class="help-block"
	                   ng-show="myForm.rank.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
			    </div>
            	<div class="col-sm-6">
            	</div>
			</div>
	     	<div class="form-group">
            	<div class="col-sm-6">
            		<label class="control-label" data-translate="cpmApp.outsourcing.targetAmount" for="field_targetAmount">Target Amount</label>
		          		<input type="number" class="form-control" name="targetAmount" id="field_targetAmount"
		                  	ng-model="vm.outsourcingUser.targetAmount" ng-required="true" min="0"
	                   	/>
	            	<div ng-show="myForm.targetAmount.$dirty&&myForm.targetAmount.$error.number" class="alert alert-danger help-block"> 
                    	目标数量必须为数字
                	</div>
                	<div ng-show="myForm.targetAmount.$dirty&&myForm.targetAmount.$error.min" class="alert alert-danger help-block"> 
                		目标数量最小值为0
           			</div>
	            	<div class="help-block"
	                   ng-show="myForm.targetAmount.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
            	</div>
            	<div class="col-sm-6">
            		<label class="control-label" data-translate="cpmApp.outsourcing.offer" for="field_offer">Offer</label>
		          		<input type="number" class="form-control" name="offer" id="field_offer"
		                  	ng-model="vm.outsourcingUser.offer" ng-required="true" min="0"
	                   	/>
	            	<div ng-show="myForm.offer.$dirty&&myForm.offer.$error.number" class="alert alert-danger help-block"> 
                    	目标数量必须为数字
                	</div>
                	<div ng-show="myForm.offer.$dirty&&myForm.offer.$error.min" class="alert alert-danger help-block"> 
                		目标数量最小值为0
           			</div>
	            	<div class="help-block"
	                   ng-show="myForm.offer.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
	         	</div>
			</div>
		</div>
	</div>
	<hr>
	<button type="submit"
        ui-sref="{{vm.previousState}}"
        class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    <button type="submit" ng-disabled="!myForm.$valid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
