<h2><span data-translate="cpmApp.projectUser.home.createOrEditLabel">Create or edit a Project User</span></h2>
<hr>
<form name="myForm" role="form" ng-submit="vm.save()">
 <div class="container-fluid">
		<div class="row form-horizontal">
            <input type="hidden" class="form-control" name="userId" id="field_userId"
                   ng-model="vm.projectUser.userId"
                    />
			<div class="form-group">
				<div class="col-sm-6">
			        <label class="control-label" data-translate="cpmApp.projectUser.projectId" for="field_projectId">Project Id</label>
	            	<select class="form-control" name="projectId" ng-model="vm.projectUser.projectId" id="field_projectId"
	            		ng-required="true" ng-disabled="vm.projectUser.id" ng-change="vm.changeProject()" ui-select2
		            	ng-options="projectInfo.val for projectInfo in vm.projectInfos track by projectInfo.key">
		            </select>
		            <div class="help-block"
	                   ng-show="myForm.projectId.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
			    </div>
			    <div class="col-sm-6" ng-show="vm.isOutsourcing">
			        <label class="control-label" data-translate="cpmApp.projectUser.rank" for="field_rank">Rank</label>
	            	<select class="form-control" name="rank"  id="field_rank"
	            		ng-required="vm.isRank" ng-model="vm.projectUser.rank"
		            	ng-options="rank.val for rank in vm.ranks track by rank.key">
		            </select>
		            <div class="help-block"
	                   ng-show="myForm.rank.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
			    </div>
            	<div class="col-sm-6">
            	</div>
			</div>
	     	<div class="form-group">
            	<div class="col-sm-6">
            		<label class="control-label" data-translate="cpmApp.projectUser.userName" for="field_userName">User Name</label>
            		<div class="input-group">
		          		<input type="text" class="form-control" name="userName"
		                  	ng-model="vm.projectUser.userName" readonly ng-required="true" ng-minlength="1"
	                   	/>
	                   	<span class="input-group-btn">
	                     	<button type="button"  ng-disabled="vm.projectUser.id" class="btn btn-default" ui-sref="{{vm.queryDept}}({selectType:3,showChild:true})"><i class="glyphicon glyphicon-user"></i></button>
	                 	</span>
	            	</div>
	            	<div class="help-block"
	                   ng-show="myForm.userName.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
            	</div>
            	<div class="col-sm-6">
	         		<label class="control-label" data-translate="cpmApp.projectUser.userRole" for="field_userRole">User Role</label>
	            	<input type="text" class="form-control" name="userRole" id="field_userRole"
	                    ng-model="vm.projectUser.userRole" ng-required="true" ng-minlength="1" ng-maxlength="100"
	                     />
	              	<div class="help-block"
	                   ng-show="myForm.userRole.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
	         	</div>
			</div>
	        <div class="form-group">
	        	<div class="col-sm-6">
		            <label class="control-label" data-translate="cpmApp.projectUser.joinDay" for="field_joinDay">Join Day</label>
	                <div class="input-group">
	                    <input id="field_joinDay" type="text" class="form-control" name="joinDay" datetime-picker="yyyyMMdd"
	                    	enable-time="false" ng-required="true" ng-minlength="1" readonly
	                     	ng-model="vm.projectUser.joinDay" is-open="vm.datePickerOpenStatus.joinDay"
	                      />
	                    <span class="input-group-btn">
	                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('joinDay')"><i class="glyphicon glyphicon-calendar"></i></button>
	                    </span>
	                </div>
	                <div class="help-block"
	                   ng-show="myForm.joinDay.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
	         	</div>
	         	<div class="col-sm-6">
		            <label class="control-label" data-translate="cpmApp.projectUser.leaveDay" for="field_leaveDay">Leave Day</label>
	                <div class="input-group">
	                    <input id="field_leaveDay" type="text" class="form-control" name="leaveDay" datetime-picker="yyyyMMdd"
	                    	enable-time="false" readonly
	                     	ng-model="vm.projectUser.leaveDay" is-open="vm.datePickerOpenStatus.leaveDay"
	                      />
	                    <span class="input-group-btn">
	                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('leaveDay')"><i class="glyphicon glyphicon-calendar"></i></button>
	                    </span>
	                </div>
	         	</div>
	        </div>
		</div>
	</div>
	<hr>
	<jhi-alert></jhi-alert>
	<jhi-alert-error></jhi-alert-error>
	<button type="submit"
        ui-sref="{{ vm.previousState }}"
        class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    <button type="submit" ng-disabled="!myForm.$valid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
