<div>
    <h2 data-translate="cpmApp.projectOverallController.home.title">Project OverAll Controller</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="btn-group flex-btn-group-container">
       	<button type="submit"
	           ui-sref="{{ vm.previousState }}"
	           class="btn btn-info">
	       <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
	   	</button>
	</div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span data-translate="cpmApp.projectOverallController.contractResponse">Serial Num</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.contractId">Name</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.statWeek">Stat Week</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.contractAmount">Contract Id</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.taxRate">Pm</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.identifiableIncome">Start Day</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.contractFinishRate">End Day</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.acceptanceIncome">Finish Rate</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.receiveTotal">Status</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.receivableAccount">Update Time</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.shareCost">Update Time</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.thirdPartyPurchase">Update Time</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.internalPurchase">Update Time</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.implementationCost">Implementation  Cost</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.academicCost">Academic Cost</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.bonus">Update Time</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.grossProfit">Update Time</span></th>
                    <th><span data-translate="cpmApp.projectOverallController.grossProfitRate">Update Time</span></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectOverAll in vm.projectOverAlls track by projectOverAll.id">
                    <td><a ui-sref="project-info-detail({id:projectOverAll.id})">{{projectOverAll.salesman}}</a></td>
                    <td>{{projectOverAll.serialNum}}</td>
                    <td>{{projectOverAll.statWeek}}</td>
                    <td>{{projectOverAll.contractAmount}}</td>
                    <td>{{projectOverAll.taxRate}}</td>
                    <td>{{projectOverAll.identifiableIncome}}</td>
                    <td>{{projectOverAll.contractFinishRate}}</td>
                    <td>{{projectOverAll.acceptanceIncome}}</td>
                    <td>{{projectOverAll.receiveTotal}}</td>
                    <td>{{projectOverAll.receivableAccount}}</td>
                    <td>{{projectOverAll.shareCost}}</td>
                    <td>{{projectOverAll.thirdPartyPurchase}}</td>
                    <td>{{projectOverAll.internalPurchase}}</td>
                    <td>{{projectOverAll.implementationCost}}</td>
                    <td>{{projectOverAll.academicCost}}</td>
                    <td>{{projectOverAll.bonus}}</td>
                    <td>{{projectOverAll.grossProfit}}</td>
                    <td>{{projectOverAll.grossProfitRate}}</td>
                    <td class="text-right">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.find()"></uib-pagination>
    </div>
</div>
