<div>
    <h2 data-translate="cpmApp.projectOverallController.home.title">Project OverAll Controller</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="wpo.contract_response"><span data-translate="cpmApp.projectOverallController.contractResponse">Serial Num</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.contract_id"><span data-translate="cpmApp.projectOverallController.contractId">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.contract_amount"><span data-translate="cpmApp.projectOverallController.contractAmount">Contract Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.tax_rate"><span data-translate="cpmApp.projectOverallController.taxRate">Pm</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.identifiable_income"><span data-translate="cpmApp.projectOverallController.identifiableIncome">Start Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.contract_finish_rate"><span data-translate="cpmApp.projectOverallController.contractFinishRate">End Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.acceptance_income"><span data-translate="cpmApp.projectOverallController.acceptanceIncome">Finish Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.receive_total"><span data-translate="cpmApp.projectOverallController.receiveTotal">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.receivable_account"><span data-translate="cpmApp.projectOverallController.receivableAccount">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.share_cost"><span data-translate="cpmApp.projectOverallController.shareCost">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.third_party_purchase"><span data-translate="cpmApp.projectOverallController.thirdPartyPurchase">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.internal_purchase"><span data-translate="cpmApp.projectOverallController.internalPurchase">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.bonus_"><span data-translate="cpmApp.projectOverallController.bonus">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.gross_profit"><span data-translate="cpmApp.projectOverallController.grossProfit">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpo.gross_profitRate"><span data-translate="cpmApp.projectOverallController.grossProfitRate">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectOverAll in vm.projectOverAlls track by projectOverAll.id">
                    <td><a ui-sref="project-info-detail({id:projectOverAll.id})">{{projectOverAll.salesman}}</a></td>
                    <td>{{projectOverAll.serialNum}}</td>
                    <td>{{projectOverAll.contractAmount}}</td>
                    <td>{{projectOverAll.taxRate}}</td>
                    <td>{{projectOverAll.identifiableIncome}}</td>
                    <td>{{projectOverAll.contractFinishRate}}</td>
                    <td>{{projectOverAll.acceptanceIncome}}</td>
                    <td>{{projectOverAll.receiveTotal}}</td>
                    <td>{{projectOverAll.receivableAccount}}</td>
                    <td>{{projectOverAll.shareCost}}</td>
                    <td>{{projectOverAll.thirdPartyPurchase}}</td>
                    <td>{{projectOverAll.internalPurchase}}</td>
                    <td>{{projectOverAll.bonus}}</td>
                    <td>{{projectOverAll.grossProfit}}</td>
                    <td>{{projectOverAll.grossProfitRate}}</td>
                    <td class="text-right">
                    </td>
                    <div class="btn-group flex-btn-group-container">
                       	<button type="submit"
					           ui-sref="{{ vm.previousState }}"
					           class="btn btn-info">
					       <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
					   </button>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.find()"></uib-pagination>
    </div>
</div>
