<div>
    <h2 data-translate="cpmApp.projectOverallController.home.title">Project OverAll Controller</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
    	<div class="row">
    		<form name="searchForm" class="form-horizontal">
				<div class="form-group">
		            <div class="col-sm-4">
		          		<label class="col-sm-4 control-label" data-translate="cpmApp.projectOverallController.toDate">Stat Week</label>
			            <div class="col-sm-8">
			                <p class="input-group">
			                    <input id="search_toDate" type="text" class="form-control" name="statWeek" datetime-picker="yyyyMMdd"
				           		 		enable-time="false" ng-model="vm.searchQuery.statWeek" is-open="vm.datePickerOpenStatus.statWeek"/>
				          		<span class="input-group-btn">
				           			<button type="button" class="btn btn-default" ng-click="vm.openCalendar('statWeek')"><i class="glyphicon glyphicon-calendar"></i></button>
				            	</span>
			                </p>
			            </div>
				    </div>
           			<div class="col-sm-4">
           				<label class="col-sm-4 control-label" data-translate="cpmApp.projectOverallController.serialNum">Serial Num</label>
                  		<div class="col-sm-8">
	     					<select class="form-control" ng-model="vm.searchQuery.contractId" ui-select2
				            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
				            	<option value="">--合同编号--</option>
				            </select>
     					</div> 
           			</div>
           			<div class="col-sm-4">
		          		<label class="col-sm-4 control-label" data-translate="cpmApp.projectOverallController.contractResponse">User Name</label>
	                    <div class="col-sm-8" >
		                   	<div class="input-group">
				          		<input type="text" class="form-control" name="userName"
				                  	ng-model="vm.searchQuery.userName" readonly ng-required="true" ng-minlength="1"
			                   	/>
			                   	<span class="input-group-btn">
			                     	<button type="button" class="btn btn-default" ui-sref="project-overall-controller.queryDept({selectType:3,showChild:true})"><i class="glyphicon glyphicon-user"></i></button>
			                 	</span>
			            	</div>
	                    </div>
	            	</div>
           		</div>
           		<div class="form-group">
           			<div class="col-sm-4 pull-right">
		            	<div class="col-sm-12" >
			            	<span  class="width-min" >
		                        <button class="btn btn-info" ng-click="vm.search()">
		                            <span class="glyphicon glyphicon-search"></span>
		                            <span data-translate="entity.action.search"></span>
		                        </button>
		                    </span>
		                    <span class="width-min" ng-if="vm.haveSearch">
		                        <button class="btn btn-info" ng-click="vm.clear()">
		                            <span class="glyphicon glyphicon-trash"></span>
		                            <span data-translate="entity.action.clear"></span>
		                        </button>
		                    </span>
		                    <span class="width-min">
	                        	<button class="btn btn-info" ng-click="vm.exportXls()">
	                            	<span class="glyphicon glyphicon-save"></span>
	                            	<span data-translate="entity.action.export"></span>
	                        	</button>
	                    	</span>
		            	</div>
		            </div>
           		</div>	
	            </div>
			</form>
    	</div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped" style="table-layout: fixed; ">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th style="width:110px;" jh-sort-by="wpo.contract_response"><span data-translate="cpmApp.projectOverallController.contractResponse">Serial Num</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:110px;" jh-sort-by="wpo.contract_id"><span data-translate="cpmApp.projectOverallController.contractId">Contract Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="wpo.contract_amount"><span data-translate="cpmApp.projectOverallController.contractAmount">Contract Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:80px;" jh-sort-by="wpo.tax_rate"><span data-translate="cpmApp.projectOverallController.taxRate">Tax Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="wpo.identifiable_income"><span data-translate="cpmApp.projectOverallController.identifiableIncome">Identifiable Income</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="wpo.contract_finish_rate"><span data-translate="cpmApp.projectOverallController.contractFinishRate">Contract FinishRate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="wpo.acceptance_income"><span data-translate="cpmApp.projectOverallController.acceptanceIncome">AcceptanceI ncome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="wpo.receive_total"><span data-translate="cpmApp.projectOverallController.receiveTotal">Receive Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="wpo.receivable_account"><span data-translate="cpmApp.projectOverallController.receivableAccount">Receivable Account</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="wpo.share_cost"><span data-translate="cpmApp.projectOverallController.shareCost">Share Cost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="wpo.third_party_purchase"><span data-translate="cpmApp.projectOverallController.thirdPartyPurchase">ThirdParty Purchase</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:150px;" jh-sort-by="wpo.internal_purchase"><span data-translate="cpmApp.projectOverallController.internalPurchase">Internal Purchase</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="c.ta1"><span data-translate="cpmApp.projectOverallController.implementationCost">Implementation  Cost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:130px;" jh-sort-by="c.ta2"><span data-translate="cpmApp.projectOverallController.academicCost">Academic Cost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:110px;" jh-sort-by="wpo.bonus_"><span data-translate="cpmApp.projectOverallController.bonus">Bonus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:110px;" jh-sort-by="wpo.gross_profit"><span data-translate="cpmApp.projectOverallController.grossProfit">Gross Profit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:80px;" jh-sort-by="wpo.gross_profitRate"><span data-translate="cpmApp.projectOverallController.grossProfitRate">Gross ProfitRate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th style="width:60px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectOverAll in vm.projectOverAlls track by projectOverAll.id">
                    <td>{{projectOverAll.salesman}}</a></td>
                    <td><a ui-sref="project-overall-controller-detail({id:projectOverAll.id})">{{projectOverAll.serialNum}}</td>
                    <td>{{projectOverAll.contractAmount}}</td>
                    <td>{{projectOverAll.taxRate}}<span ng-show="projectOverAll.id">%</span></td>
                    <td>{{projectOverAll.identifiableIncome}}</td>
                    <td>{{projectOverAll.contractFinishRate}}<span ng-show="projectOverAll.id">%</span></td>
                    <td>{{projectOverAll.acceptanceIncome}}</td>
                    <td>{{projectOverAll.receiveTotal}}</td>
                    <td>{{projectOverAll.receivableAccount}}</td>
                    <td>{{projectOverAll.shareCost}}</td>
                    <td>{{projectOverAll.thirdPartyPurchase}}</td>
                    <td>{{projectOverAll.internalPurchase}}</td>
                    <td>{{projectOverAll.implementationCost}}</td>
                    <td>{{projectOverAll.academicCost}}</td>
                    <td>{{projectOverAll.bonus}}</td>
                    <td>{{projectOverAll.grossProfit}}</td>
                    <td>{{projectOverAll.grossProfitRate}}<span ng-show="projectOverAll.id">%</span></td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project-overall-controller-detail({id:projectOverAll.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
