<div>
    <h2 data-translate="cpmApp.projectOverallController.detail.title">Project OverAll Controller</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="btn-group flex-btn-group-container" style="padding-bottom: 25px;">
       	<button type="submit"
	           ui-sref="{{ vm.previousState }}"
	           class="btn btn-info">
	       <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
	   	</button>
	</div>
    <div class="table-responsive">
        <table class="jh-table table table-striped" style="table-layout: fixed; ">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th style="width:100px;"><span data-translate="cpmApp.projectOverallController.contractResponse">Contract Response</span></th>
                    <th style="width:80px;"><span data-translate="cpmApp.projectOverallController.contractId">ContractId</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.statWeek">Stat Week</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.contractAmount">Contract Amount</span></th>
                    <th style="width:80px;"><span data-translate="cpmApp.projectOverallController.taxRate">Tax Rate</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.identifiableIncome">Identifiable Income</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.contractFinishRate">Contract FinishRate</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.acceptanceIncome">Acceptance Income</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.receiveTotal">Receive Total</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.receivableAccount">Receivable Account</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.shareCost">Share Cost</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.thirdPartyPurchase">ThirdParty Purchase</span></th>
                    <th style="width:130px;"><span data-translate="cpmApp.projectOverallController.internalPurchase">Internal Purchase</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.implementationCost">Implementation  Cost</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.academicCost">Academic Cost</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.bonus">Bonus</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.projectOverallController.grossProfit">Gross Profit</span></th>
                    <th style="width:60px;"><span data-translate="cpmApp.projectOverallController.grossProfitRate">Gross ProfitRate</span></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectOverAll in vm.projectOverAlls track by projectOverAll.id">
                    <td>{{projectOverAll.salesman}}</td>
                    <td>{{projectOverAll.serialNum}}</td>
                    <td>{{projectOverAll.statWeek}}</td>
                    <td>{{projectOverAll.contractAmount}}</td>
                    <td>{{projectOverAll.taxRate}}<span ng-show="projectOverAll.id">%</span></td>
                    <td>{{projectOverAll.identifiableIncome}}</td>
                    <td>{{projectOverAll.contractFinishRate}}<span ng-show="projectOverAll.id">%</span></td>
                    <td>{{projectOverAll.acceptanceIncome}}</td>
                    <td>{{projectOverAll.receiveTotal}}</td>
                    <td>{{projectOverAll.receivableAccount}}</td>
                    <td>{{projectOverAll.shareCost}}</td>
                    <td>{{projectOverAll.thirdPartyPurchase}}</td>
                    <td>{{projectOverAll.internalPurchase}}</td>
                    <td>{{projectOverAll.implementationCost}}</td>
                    <td>{{projectOverAll.academicCost}}</td>
                    <td>{{projectOverAll.bonus}}</td>
                    <td>{{projectOverAll.grossProfit}}</td>
                    <td>{{projectOverAll.grossProfitRate}}<span ng-show="projectOverAll.id">%</span></td>
                    <td class="text-right">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.find()"></uib-pagination>
    </div>
</div>
