
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectFinishInfoLabel" data-translate="cpmApp.projectFinishInfo.home.createOrEditLabel">Create or edit a Project Finish Info</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.projectFinishInfo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.projectFinishInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectFinishInfo.projectId" for="field_projectId">Project Id</label>
            <input type="number" class="form-control" name="projectId" id="field_projectId"
                    ng-model="vm.projectFinishInfo.projectId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectFinishInfo.finishRate" for="field_finishRate">Finish Rate</label>
            <input type="number" class="form-control" name="finishRate" id="field_finishRate"
                    ng-model="vm.projectFinishInfo.finishRate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectFinishInfo.creator" for="field_creator">Creator</label>
            <input type="text" class="form-control" name="creator" id="field_creator"
                    ng-model="vm.projectFinishInfo.creator"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectFinishInfo.createTime" for="field_createTime">Create Time</label>
                <div class="input-group">
                    <input id="field_createTime" type="text" class="form-control" name="createTime" datetime-picker="{{dateformat}}" ng-model="vm.projectFinishInfo.createTime" is-open="vm.datePickerOpenStatus.createTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
