<div>
    <h2 data-translate="cpmApp.contractWeeklyStat.home.title">Contract Weekly Stats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <form name="searchForm" class="form-horizontal">
	           <div class="form-group">
	              	<div class="col-sm-4">
		          		<label class="col-sm-4 control-label" data-translate="cpmApp.contractWeeklyStat.contractSerialNum">Contract serialnum</label>
			            <div class="col-sm-8">
			            	<select class="form-control" ng-model="vm.searchQuery.contractId" name="contractId"
				            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
				            	<option value="">--合同编号--</option>
				            </select>
			            </div>
		            </div>
		            <div class="col-sm-8">
		            	
			            	<div class="input-group pull-right" >
			                   
			                   <span  class="width-min input-group-btn col-sm-2" >
			                   		<div class="row">
				                        <button class="btn btn-info" ng-click="vm.search()">
				                            <span class="glyphicon glyphicon-search"></span>
				                        </button>
				                    </div>
			                    </span>
			                    <span class="width-min input-group-btn col-sm-2" ng-if="vm.haveSearch">
			                        <button class="btn btn-info" ng-click="vm.clear()">
			                            <span class="glyphicon glyphicon-trash"></span>
			                        </button>
			                    </span>
			               </div>
			             
		            </div>

				</div>
           </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="m.id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.serialNum"><span data-translate="cpmApp.contractWeeklyStat.serialNum">Contract serialNum</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.finishRate"><span data-translate="cpmApp.contractWeeklyStat.finishRate">Finish Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.receiveTotal"><span data-translate="cpmApp.contractWeeklyStat.receiveTotal">Receive Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.costTotal"><span data-translate="cpmApp.contractWeeklyStat.costTotal">Cost Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.grossProfit"><span data-translate="cpmApp.contractWeeklyStat.grossProfit">Gross Profit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.statWeek"><span data-translate="cpmApp.contractWeeklyStat.statWeek">Stat Week</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.createTime"><span data-translate="cpmApp.contractWeeklyStat.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contractWeeklyStat in vm.contractWeeklyStats track by contractWeeklyStat.id">
                    <td><a ui-sref="contract-weekly-stat-detail({id:contractWeeklyStat.id})">{{contractWeeklyStat.id}}</a></td>
                    <td>{{contractWeeklyStat.serialNum}}</td>
                    <td>{{contractWeeklyStat.finishRate}}</td>
                    <td>{{contractWeeklyStat.receiveTotal}}</td>
                    <td>{{contractWeeklyStat.costTotal}}</td>
                    <td>{{contractWeeklyStat.grossProfit}}</td>
                    <td>{{contractWeeklyStat.statWeek}}</td>
                    <td>{{contractWeeklyStat.createTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contract-weekly-stat-detail({id:contractWeeklyStat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
