<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="cpmApp.userTimesheet.type" >Type</span></th>
                    <th><span data-translate="cpmApp.userTimesheet.objName">Obj Name</span></th>
                    <th><span data-translate="cpmApp.userTimesheet.monday">Monday</span></th>
                    <th><span data-translate="cpmApp.userTimesheet.tuesday">Tuesday</span></th>
                    <th><span data-translate="cpmApp.userTimesheet.wednesday">Wednesday</span></th>
                    <th><span data-translate="cpmApp.userTimesheet.thursday">Thursday</span></th>
                    <th><span data-translate="cpmApp.userTimesheet.friday">Friday</span></th>
                    <th><span data-translate="cpmApp.userTimesheet.saturday">Saturday</span></th>
                    <th><span data-translate="cpmApp.userTimesheet.sunday">Sunday</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userTimesheet in vm.userTimesheets">
                    <td>{{userTimesheet.type}}</td>
                    <td>{{userTimesheet.objName}}</td>
                    <td><input type="text" ng-model="userTimesheet.data1" required ng-minlength="1" ng-maxlength="4" style="width:40px;" /></td>
                    <td><input type="text" ng-model="userTimesheet.data2" required ng-minlength="1" ng-maxlength="4" style="width:40px;" /></td>
                    <td><input type="text" ng-model="userTimesheet.data3" required ng-minlength="1" ng-maxlength="4" style="width:40px;" /></td>
                    <td><input type="text" ng-model="userTimesheet.data4" required ng-minlength="1" ng-maxlength="4" style="width:40px;" /></td>
                    <td><input type="text" ng-model="userTimesheet.data5" required ng-minlength="1" ng-maxlength="4" style="width:40px;" /></td>
                    <td><input type="text" ng-model="userTimesheet.data6" required ng-minlength="1" ng-maxlength="4" style="width:40px;" /></td>
                    <td><input type="text" ng-model="userTimesheet.data7" required ng-minlength="1" ng-maxlength="4" style="width:40px;" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" ui-sref="{{vm.previousState}}" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</form>
