<div>
    <h2 data-translate="cpmApp.salePurchaseInternalCost.home.title">Sale Purchase InternalCost</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <form name="searchForm" class="form-horizontal">
	            <div class="form-group">
	              	<div class="col-sm-4">
		          		<label class="col-sm-4 control-label" data-translate="cpmApp.salePurchaseInternalCost.contractSerialNum">Contract serialnum</label>
			            <div class="col-sm-8">
			            	<select class="form-control" ng-model="vm.searchQuery.contractId" name="contractId"
				            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
				            	<option value="">--合同编号--</option>
				            </select>
			            </div>
		            </div>
		            <div class="col-sm-4">
		          		<label class="col-sm-4 control-label" data-translate="cpmApp.salePurchaseInternalCost.deptType">Dept</label>
			            <div class="col-sm-8">
			                <select class="form-control" name="type" ng-model="vm.searchQuery.deptType"
				            	ng-options="type.val for type in vm.deptTypes track by type.key">
				            	<option value="">--选择部门类型--</option>
				            </select>
			            </div>
	       			</div>
       			</div>
				<div class="form-group">
					<div class="col-sm-4">
						<label class="col-sm-4 control-label" data-translate="cpmApp.salePurchaseInternalCost.userName">User Name</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input type="text" class="form-control" name="userName"
									ng-model="vm.searchQuery.userName" readonly ng-required="true" ng-minlength="1" /> <span class="input-group-btn">
									<button type="button" class="btn btn-default" ui-sref="sale-purchase-internalCost.queryDept({selectType:3,showChild:true})">
										<i class="glyphicon glyphicon-user"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
       				<div class="col-sm-4">
       					<label class="col-sm-4 control-label" data-translate="cpmApp.salePurchaseInternalCost.statWeek">statWeek</label>
		            	<div class="col-sm-8">
	                   		<div class="input-group">
			                    <input id="search_toDate" type="text" class="form-control" name="statWeek" datetime-picker="yyyyMMdd"
			                    	enable-time="false" readonly
			                     	ng-model="vm.searchQuery.statWeek" is-open="vm.datePickerOpenStatus.statWeek"
			                      />
			                    <span class="input-group-btn">
			                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('statWeek')"><i class="glyphicon glyphicon-calendar"></i></button>
			                    </span>
		                	</div>
	            		</div>
       				</div>
					<div class="col-sm-4 input-group pull-right">
						<div class="col-sm-12">
							<span class="width-min">
								<button class="btn btn-info" ng-click="vm.search()">
									<span class="glyphicon glyphicon-search"></span> <span
										class="hidden-xs hidden-sm"
										data-translate="entity.action.search"></span>
								</button>
							</span> <span class="width-min" ng-if="vm.haveSearch">
								<button class="btn btn-info" ng-click="vm.clear()">
									<span class="glyphicon glyphicon-trash"></span> <span
										class="hidden-xs hidden-sm"
										data-translate="entity.action.clear"></span>
								</button>
							</span> <span class="width-min">
								<button class="btn btn-info" ng-click="vm.exportXls()">
									<span class="glyphicon glyphicon-save"></span> <span
										class="hidden-xs hidden-sm"
										data-translate="entity.action.export"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
           </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped" style="table-layout: fixed; ">
            <thead>
                <tr>
                    <th style="width:90px;"><span data-translate="cpmApp.salePurchaseInternalCost.contractSerialNum">Contract serialNum</span></th>
                    <th style="width:100px;"><span data-translate="cpmApp.salePurchaseInternalCost.deptType">dept Type</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.serialNum">SerialNum</span></th>
                    <th style="width:90px;"><span data-translate="cpmApp.salePurchaseInternalCost.userName">User Name</span></th>
                    <th style="width:60px;"><span data-translate="cpmApp.salePurchaseInternalCost.grade">User Grade</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.settlementCost">Settlement Cost</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.projectHourCost">project Hour Cost</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.internalBudgetCost">Internal Budget Cost</span></th>
                    <th style="width:90px;"><span data-translate="cpmApp.salePurchaseInternalCost.sal">Sal</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.socialSecurityFund">Social Security Fund</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.otherExpense">Other Expense</span></th>
                    <th style="width:120px;"><span data-translate="cpmApp.salePurchaseInternalCost.userMonthCost">User MonthCost</span></span></th>
                    <th style="width:80px;"><span data-translate="cpmApp.salePurchaseInternalCost.userHourCost">User HourCost</span></span></th>
                    <th style="width:120px;"><span data-translate="cpmApp.salePurchaseInternalCost.productCost">Product Cost</span></span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.grossProfit">Gross Profit</span></th>
                    <th style="width:60px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="salePurchaseInternalCost in vm.salePurchaseInternalCosts track by salePurchaseInternalCost.id">
                    <td>{{salePurchaseInternalCost.contractSerialNum}}</td>
                    <td>{{salePurchaseInternalCost.deptName}}</td>
                    <td><a ui-sref="sale-purchase-internalCost.Detail({userId:salePurchaseInternalCost.userId})">{{salePurchaseInternalCost.serialNum}}</a></td>
                    <td>{{salePurchaseInternalCost.userName}}</td>
                    <td>{{salePurchaseInternalCost.grade}}</td>
                    <td>{{salePurchaseInternalCost.settlementCost}}</td>
                    <td>{{salePurchaseInternalCost.projectHourCost}}</td>
                    <td>{{salePurchaseInternalCost.internalBudgetCost}}</td>
                    <td>{{salePurchaseInternalCost.sal}}</td>
                    <td>{{salePurchaseInternalCost.socialSecurityFund}}</td>
                    <td>{{salePurchaseInternalCost.otherExpense}}</td>
                    <td>{{salePurchaseInternalCost.userMonthCost}}</td>
                    <td>{{salePurchaseInternalCost.userHourCost}}</td>
                    <td>{{salePurchaseInternalCost.productCost}}</td>
                    <td>{{salePurchaseInternalCost.grossProfit}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container" ng-show="salePurchaseInternalCost.serialNum">
						    <button type="button" ui-sref="sale-purchase-internalCost.Detail({userId:salePurchaseInternalCost.userId})" class="btn btn-primary btn-sm">
						        <span class="glyphicon glyphicon-eye-open"></span>
						    </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div> -->
</div>
