<div>
    <h2 data-translate="cpmApp.salePurchaseInternalCost.home.title">Sale Purchase InternalCost</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="btn-group flex-btn-group-container" style="padding-bottom: 25px;">
       	<button type="submit"
	           ng-click="vm.back()"
	           class="btn btn-info">
	       <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
	   	</button>
	</div>
    <div class="table-responsive">
        <table class="jh-table table table-striped" style="table-layout: fixed; ">
            <thead>
                <tr>
                	<th style="width:90px;"><span data-translate="cpmApp.salePurchaseInternalCost.statTime">statWeek</span></th>
                    <th style="width:90px;"><span data-translate="cpmApp.salePurchaseInternalCost.contractSerialNum">Contract serialNum</span></th>
                    <th style="width:90px;"><span data-translate="cpmApp.salePurchaseInternalCost.deptType">dept Type</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.serialNum">SerialNum</span></th>
                    <th style="width:90px;"><span data-translate="cpmApp.salePurchaseInternalCost.userName">User Name</span></th>
                    <th style="width:60px;"><span data-translate="cpmApp.salePurchaseInternalCost.grade">User Grade</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.settlementCost">Settlement Cost</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.projectHourCost">project Hour Cost</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.internalBudgetCost">Internal Budget Cost</span></th>
                    <th style="width:90px;"><span data-translate="cpmApp.salePurchaseInternalCost.sal">Sal</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.socialSecurityFund">Social Security Fund</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.otherExpense">Other Expense</span></th>
                    <th style="width:120px;"><span data-translate="cpmApp.salePurchaseInternalCost.userMonthCost">User MonthCost</span></th>
                    <th style="width:80px;"><span data-translate="cpmApp.salePurchaseInternalCost.userHourCost">User HourCost</span></th>
                    <th style="width:120px;"><span data-translate="cpmApp.salePurchaseInternalCost.productCost">Product Cost</span></th>
                    <th style="width:110px;"><span data-translate="cpmApp.salePurchaseInternalCost.grossProfit">Gross Profit</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="salePurchaseInternalCost in vm.salePurchaseInternalCosts track by salePurchaseInternalCost.id">
                	<td>{{salePurchaseInternalCost.statWeek}}</td>
                    <td>{{salePurchaseInternalCost.contractSerialNum}}</td>
                    <td>{{salePurchaseInternalCost.deptName}}</td>
                    <td>{{salePurchaseInternalCost.serialNum}}</td>
                    <td>{{salePurchaseInternalCost.userName}}</td>
                    <td>{{salePurchaseInternalCost.grade}}</td>
                    <td>{{salePurchaseInternalCost.settlementCost}}</td>
                    <td>{{salePurchaseInternalCost.projectHourCost}}</td>
                    <td>{{salePurchaseInternalCost.internalBudgetCost}}</td>
                    <td>{{salePurchaseInternalCost.sal}}</td>
                    <td>{{salePurchaseInternalCost.socialSecurityFund}}</td>
                    <td>{{salePurchaseInternalCost.otherExpense}}</td>
                    <td>{{salePurchaseInternalCost.userMonthCost}}</td>
                    <td>{{salePurchaseInternalCost.userHourCost}}</td>
                    <td>{{salePurchaseInternalCost.productCost}}</td>
                    <td>{{salePurchaseInternalCost.grossProfit}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
