
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContractBudgetLabel" data-translate="cpmApp.contractBudget.home.createOrEditLabel">Create or edit a Contract Budget</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contractBudget.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contractBudget.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.contractId" for="field_contractId">Contract Id</label>
            <input type="number" class="form-control" name="contractId" id="field_contractId"
                    ng-model="vm.contractBudget.contractId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.type" for="field_type">Type</label>
            <input type="number" class="form-control" name="type" id="field_type"
                    ng-model="vm.contractBudget.type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.userId" for="field_userId">User Id</label>
            <input type="text" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.contractBudget.userId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.userName" for="field_userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="field_userName"
                    ng-model="vm.contractBudget.userName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.dept" for="field_dept">Dept</label>
            <input type="text" class="form-control" name="dept" id="field_dept"
                    ng-model="vm.contractBudget.dept"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.purchaseType" for="field_purchaseType">Purchase Type</label>
            <input type="number" class="form-control" name="purchaseType" id="field_purchaseType"
                    ng-model="vm.contractBudget.purchaseType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.budgetTotal" for="field_budgetTotal">Budget Total</label>
            <input type="number" class="form-control" name="budgetTotal" id="field_budgetTotal"
                    ng-model="vm.contractBudget.budgetTotal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.contractBudget.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.creator" for="field_creator">Creator</label>
            <input type="text" class="form-control" name="creator" id="field_creator"
                    ng-model="vm.contractBudget.creator"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.createTime" for="field_createTime">Create Time</label>
                <div class="input-group">
                    <input id="field_createTime" type="text" class="form-control" name="createTime" datetime-picker="{{dateformat}}" ng-model="vm.contractBudget.createTime" is-open="vm.datePickerOpenStatus.createTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.updator" for="field_updator">Updator</label>
            <input type="text" class="form-control" name="updator" id="field_updator"
                    ng-model="vm.contractBudget.updator"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractBudget.updateTime" for="field_updateTime">Update Time</label>
                <div class="input-group">
                    <input id="field_updateTime" type="text" class="form-control" name="updateTime" datetime-picker="{{dateformat}}" ng-model="vm.contractBudget.updateTime" is-open="vm.datePickerOpenStatus.updateTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
