<h2><span data-translate="cpmApp.contractBudget.home.createOrEditLabel">Create or edit a Project Info</span></h2>
<hr>
<jhi-alert-error></jhi-alert-error>
<form name="myForm" role="form" ng-submit="vm.save()">
	<div class="container-fluid">
		<div class="row form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.contractBudget.serialNum" for="field_contractId">Contract Id</label>
	            	<select class="form-control" name="contractId" ng-model="vm.contractBudget.contractId" id="field_contractId"
	            		ng-required="true" ng-change="vm.contractChanged()" ng-disabled="vm.contractBudget.id"
		            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
		            </select>
				</div>
				<div class="col-sm-6">
	          		<label class="control-label" data-translate="cpmApp.contractBudget.budgetTotal" for="field_budgetTotal">Budget Total</label>
	          		<input type="number" class="form-control" name="budgetTotal" id="field_budgetTotal"
	              		ng-model="vm.contractBudget.budgetTotal" step="0.01" min="0"
	                  	/>
	                <div ng-show="myForm.budgetTotal.$dirty&&myForm.budgetTotal.$error.number" class="alert alert-danger help-block"> 
                    	必须为数字
                	</div>
                	<div ng-show="myForm.budgetTotal.$dirty&&myForm.budgetTotal.$error.min" class="alert alert-danger help-block"> 
                		项目预算最小值为0
           			</div>
	   			</div>
	     	</div>
	     	<div class="form-group">
	     		<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.contractBudget.budgetName" for="field_budgetName">Budget Name</label>
	         		<input type="text" class="form-control" name="name" id="field_budgetName"
	                 	ng-model="vm.contractBudget.budgetName" ng-required="true" ng-minlength="1" ng-maxlength="100"
	                  	/>
	             	<div ng-show="myForm.name.$dirty&&myForm.name.$error.minlength" class="alert alert-danger help-block"> 
                    	合同名称必填
                	</div>
                	<div ng-show="myForm.name.$dirty&&myForm.name.$error.maxlength" class="alert alert-danger help-block"> 
                    	合同名称不能大于100
                	</div>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.contractBudget.purchaseType" for="field_purchaseType" >Purchase Type</label>
	                <select class="form-control" name="purchaseType" ng-model="vm.contractBudget.purchaseType" id="field_purchaseType"
	            		ng-required="true" ng-disabled="vm.contractBudget.id"
		            	ng-options="purchaseType.name for purchaseType in vm.purchaseTypes track by purchaseType.id">
		            </select>
				</div>
	     	</div>
	     	<div class="form-group">
	     		<div class="col-sm-6">
	          		<label class="control-label" data-translate="cpmApp.contractBudget.userName" for="field_pm">User name</label>
	          		<div class="input-group">
		          		<input type="text" class="form-control" name="pm" id="field_pm"
		                  	ng-model="vm.contractBudget.userName" readonly ng-required="true" ng-minlength="1"
	                   	/>
	                   	<span class="input-group-btn">
	                     	<button type="button" class="btn btn-default" ui-sref="{{vm.queryDept}}({selectType:3,showChild:true})"><i class="glyphicon glyphicon-user"></i></button>
	                 	</span>
	            	</div>
	      		</div>
				<div class="col-sm-6">
	     			<label class="control-label" data-translate="cpmApp.contractBudget.dept" for="field_dept" >Dept</label>
	  				<input type="text" class="form-control" name="dept" id="field_dept"
	                  	ng-model="vm.contractBudget.dept" readonly ng-required="true" ng-minlength="1"
	                   	/>
				</div>
	     	</div>
	     	<div class="form-group">
				<div class="col-sm-6">
	     		</div>
	     	<div class="form-group">
	     		
	     	</div>
		</div>
	</div>
	<hr>
	<button type="submit"
        ui-sref="{{ vm.previousState }}"
        class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    <button type="submit" ng-disabled="!myForm.$valid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
