<div>
    <h2 data-translate="cpmApp.userCost.home.title">User Costs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row form-horizontal">
        	<div class="form-group">
	            <div class="col-xs-2">
	                <button class="btn btn-primary" ui-sref="user-cost.new" >
	                    <span class="glyphicon glyphicon-plus"></span>
	                    <span class=""  data-translate="cpmApp.userCost.home.createLabel">
	                        Create new User Cost
	                    </span>
	                </button>
	            </div>
	            <div class="col-xs-3">
		            <button type="button" class="btn btn-primary" ui-sref="user-cost.upload">
			            <span class="glyphicon glyphicon-import"></span>
		                <span class=""  data-translate="cpmApp.userCost.home.import">Import Excel</span>
	                </button>
	            </div>
	        </div>
        </div>
        <form name="searchForm" class="form-horizontal">
       		<div class="form-group">
       			<div class="col-sm-4">
       				<label class="col-sm-4 control-label" data-translate="cpmApp.userCost.serialNum">User Num</label>
	            	<div class="col-sm-8">
		            	<input type="text" class="form-control" ng-model="vm.searchQuery.serialNum">
		          		<!-- <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'cpmApp.userCost.home.search' | translate }}"> -->
	            	</div>
       			</div>
       			<div class="col-sm-4">
       				<label class="col-sm-4 control-label" data-translate="cpmApp.userCost.userName">User Name</label>
	            	<div class="col-sm-8">
		            	<input type="text" class="form-control" ng-model="vm.searchQuery.userName">
		          		<!-- <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'cpmApp.userCost.home.search' | translate }}"> -->
	            	</div>
       			</div>
       			<div class="col-sm-4">
       				<label class="col-sm-4 control-label" data-translate="cpmApp.userCost.costMonth">Cost Month</label>
	            	<div class="col-sm-8">
                   		<!-- <input type="text" class="form-control" ng-model="vm.searchQuery.costMonth"> -->
                   		<div class="input-group">
		                    <input id="search_costMonth" type="text" class="form-control" name="costMonth" datetime-picker="yyyyMM"
		                    	enable-time="false" readonly
		                     	ng-model="vm.searchQuery.costMonth" is-open="vm.datePickerOpenStatus.costMonth"
		                      />
		                    <span class="input-group-btn">
		                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('costMonth')"><i class="glyphicon glyphicon-calendar"></i></button>
		                    </span>
	                	</div>
            		</div>
       			</div>
       	 	</div>
        	<div class="form-group">
	         	<div class="col-sm-4">
	         		<label class="col-sm-4 control-label" data-translate="cpmApp.userCost.status">User Status</label>
	         		<div class="col-sm-8">
	         			<select class="form-control" ng-model="vm.searchQuery.status"
			            	ng-options="status.val for status in vm.statuss track by status.key">
			            	<option value="">--状态--</option>
			            </select>
	         		</div>
	          	</div>
		        <div class="col-sm-4">
		        	 &nbsp;
		        </div>
	          	<div class="col-sm-4 pull-right input-group">
	          		<div class="col-sm-4">
	          		</div>
	              <!-- <form name="searchForm" class="form-inline"> -->
		            <span  class="width-min" >
			            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
			            	<span class="glyphicon glyphicon-search"></span>
			            	<span class="hidden-xs hidden-sm" data-translate="entity.action.search"></span>
			            </button>
		            </span>
	                <span class="width-min" ng-if="vm.haveSearch">
		                <button class="btn btn-info" ng-click="vm.clear()">
		                	<span class="glyphicon glyphicon-trash"></span>
		                	<span class="hidden-xs hidden-sm" data-translate="entity.action.clear"></span>
		                </button>
	                </span>
	          	</div>
         	</div>
        </form>
        <!-- </div> -->
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serialNum"><span data-translate="cpmApp.userCost.serialNum">Seria lNum</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userName"><span data-translate="cpmApp.userCost.userName">User Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="costMonth"><span data-translate="cpmApp.userCost.costMonth">Cost Month</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="internalCost"><span data-translate="cpmApp.userCost.internalCost">Internal Cost</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <!-- <th jh-sort-by="externalCost"><span data-translate="cpmApp.userCost.externalCost">External Cost</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="sal"><span data-translate="cpmApp.userCost.sal">Sal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="socialSecurityFund"><span data-translate="cpmApp.userCost.socialSecurityFund">Social Security Fund</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="otherExpense"><span data-translate="cpmApp.userCost.otherExpense">Other Expense</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="cpmApp.userCost.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="creator"><span data-translate="cpmApp.userCost.creator">Creator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span data-translate="cpmApp.userCost.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <!-- <th jh-sort-by="updator"><span data-translate="cpmApp.userCost.updator">Updator</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="updateTime"><span data-translate="cpmApp.userCost.updateTime">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userCost in vm.userCosts track by userCost.id">
                    <td><a ui-sref="user-cost-detail({id:userCost.id})">{{userCost.id}}</a></td>
                    <!-- <td>{{userCost.userId}}</td> -->
                    <td>{{userCost.serialNum}}</td>
                    <td>{{userCost.userName}}</td>
                    <td>{{userCost.costMonth}}</td>
                    <!-- <td>{{userCost.internalCost}}</td> -->
                    <!-- <td>{{userCost.externalCost}}</td> -->
                    <td>{{userCost.sal}}</td>
                    <td>{{userCost.socialSecurityFund}}</td>
                    <td>{{userCost.otherExpense}}</td>
                    <td>{{userCost.status}}</td>
                    <!-- <td>{{userCost.creator}}</td>
                    <td>{{userCost.createTime | date:'medium'}}</td> -->
                    <!-- <td>{{userCost.updator}}</td> -->
                    <td>{{userCost.updateTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-cost-detail({id:userCost.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-cost.edit({id:userCost.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-cost.delete({id:userCost.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
