<h2><span data-translate="cpmApp.userCost.home.createOrEditLabel" ng-hide="vm.userCost.id">Create or edit a User Cost</span></h2>
<h2><span data-translate="cpmApp.userCost.home.editLabel" ng-show="vm.userCost.id">Edit a User Cost</span></h2>
<hr>
<form name="editForm" role="form" ng-submit="vm.save()">
	<div class="container-fluid">
		<div class="row form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.serialNum" for="field_serialNum">Serial Num</label>
					<input type="text" class="form-control" name="userId" id="field_serialNum" ng-model="vm.serialNum" ng-required="true"
						   ng-disabled="vm.userCost.id" readOnly/>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.userName" for="field_userName">User Name</label>
					<div class="input-group">
						<input type="text" class="form-control" name="userName" id="field_userName" ng-model="vm.userCost.userName" ng-required="true"
							   readOnly/>
						<span class="input-group-btn">
		                	<button type="button" class="btn btn-default" ng-disabled="vm.userCost.id" ui-sref="{{vm.queryDept}}({selectType:3,showChild:true})"><i class="glyphicon glyphicon-user"></i></button>
		                </span>
	                </div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.costMonth" for="field_costMonth">Cost Month</label>
					<div class="input-group">
						<input type="text" class="form-control" name="costMonth" id="field_costMonth" ng-model="vm.userCost.costMonth"
            				   readOnly datetime-picker="yyyyMM" enable-time="false" ng-required="true" is-open="vm.datePickerOpenStatus.costMonth"
            				/>
            			<span class="input-group-btn">
	                		<button type="button" class="btn btn-default" ng-disabled="vm.userCost.id" ng-click="vm.openCalendar('costMonth')"><i class="glyphicon glyphicon-calendar"></i></button>
	               		</span>
					</div>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.sal" for="field_sal">Sal</label>
            		<input type="number" class="form-control" name="sal" id="field_sal" ng-model="vm.userCost.sal"
            			   step="0.01" min="0" ng-required="true" ng-change="vm.salChanged()"/>
            		<div ng-show="myForm.sal.$dirty&&myForm.sal.$error.min" class="alert alert-danger help-block"> 
                		最小值为0
           			</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.socialSecurityFund" for="field_socialSecurityFund">Social Security Fund</label>
            		<input type="number" class="form-control" name="socialSecurityFund" id="field_socialSecurityFund" ng-model="vm.userCost.socialSecurityFund"
            			   step="0.01" min="0" ng-required="true"/>
            		<div ng-show="myForm.socialSecurityFund.$dirty&&myForm.socialSecurityFund.$error.min" class="alert alert-danger help-block"> 
                		最小值为0
           			</div>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.otherExpense" for="field_otherExpense">Other Expense</label>
            		<input type="number" class="form-control" name="otherExpense" id="field_otherExpense" ng-model="vm.userCost.otherExpense"
            			   step="0.01" min="0" ng-required="true"/>
            		<div ng-show="myForm.otherExpense.$dirty&&myForm.otherExpense.$error.min" class="alert alert-danger help-block"> 
                		最小值为0
           			</div>
				</div>
			</div>
		</div>
	</div>
    <hr>
    <jhi-alert></jhi-alert>
	<jhi-alert-error></jhi-alert-error>
    <button type="button" class="btn btn-info" ui-sref="{{ vm.previousState }}">
    	<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back">Back</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
    	<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
