<h2><span data-translate="cpmApp.userCost.home.createOrEditLabel" ng-hide="vm.userCost.id">Create or edit a User Cost</span></h2>
<h2><span data-translate="cpmApp.userCost.home.editLabel" ng-show="vm.userCost.id">Edit a User Cost</span></h2>
<hr>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
	<div class="container-fluid">
		<div class="row form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.userId" for="field_userId">User Id</label>
					<input type="text" class="form-control" name="userId" id="field_userId" ng-model="vm.userCost.userId" ng-required="true"
						ng-disabled="vm.userCost.id" readOnly/>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.userName" for="field_userName">User Name</label>
					<div class="input-group">
						<input type="text" class="form-control" name="userName" id="field_userName" ng-model="vm.userCost.userName" ng-required="true"
							readOnly/>
						<span class="input-group-btn">
		                	<button type="button" class="btn btn-default" ng-disabled="vm.userCost.id" ui-sref="{{vm.queryDept}}({selectType:3,showChild:true})"><i class="glyphicon glyphicon-user"></i></button>
		                </span>
	                </div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.costMonth" for="field_costMonth">Cost Month</label>
					<div class="input-group">
						<input type="text" class="form-control" name="costMonth" id="field_costMonth" ng-model="vm.userCost.costMonth"
            				readOnly datetime-picker="yyyyMM" enable-time="false" ng-required="true" is-open="vm.datePickerOpenStatus.costMonth"
            				/>
            			<span class="input-group-btn">
	                		<button type="button" class="btn btn-default" ng-disabled="vm.userCost.id" ng-click="vm.openCalendar('costMonth')"><i class="glyphicon glyphicon-calendar"></i></button>
	               		</span>
					</div>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.internalCost" for="field_internalCost">Internal Cost</label>
            		<input type="number" class="form-control" name="internalCost" id="field_internalCost" step="100" min="0" ng-required="true"
                    ng-model="vm.userCost.internalCost"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.externalCost" for="field_externalCost">External Cost</label>
            		<input type="number" class="form-control" name="externalCost" id="field_externalCost" ng-model="vm.userCost.externalCost"
            		step="100" min="0" ng-required="true"/>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.userCost.status" for="field_status">Status</label>
					<select class="form-control" name="status" ng-model="vm.userCost.status" id="field_status"
	            		ng-required="true" ng-disabled="vm.projectCost.userId"
		            	ng-options="status.val for status in vm.statuss track by status.key">
		            	<option value="">--状态--</option>
		         	</select>
            		<!-- <input type="number" class="form-control" name="status" id="field_status" ng-model="vm.userCost.status"/> -->
				</div>
			</div>
		</div>
	</div>
    <hr>
    <jhi-alert></jhi-alert>
	<jhi-alert-error></jhi-alert-error>
    <button type="button" class="btn btn-info" ui-sref="{{ vm.previousState }}">
    	<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back">Back</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
    	<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
