<div>
    <h2 data-translate="cpmApp.contractTimesheet.home.createOrEditLabel">User Timesheets</h2>
    <div class="container-fluid">
        <div class="row">
        	<div class="col-sm-8">
        	</div>
            <div class="col-sm-4">
                <p class="input-group">
                    <input type="text" class="form-control" name="workDay" datetime-picker="yyyyMMdd" ng-change="vm.search(vm.searchQuery)"
	           		 		enable-time="false" ng-model="vm.searchQuery.workDay" is-open="vm.datePickerOpenStatus.workDay"/>
	          		<span class="input-group-btn">
	           			<button type="button" class="btn btn-default" ng-click="vm.openCalendar('workDay')"><i class="glyphicon glyphicon-calendar"></i></button>
	            	</span>
                </p>
            </div>
        </div>
    </div>
	<form name="editForm" role="form" novalidate ng-submit="vm.save()">
	    <div class="table-responsive">
	        <table class="jh-table table table-striped">
	            <thead>
	                <tr>
	                    <th><span data-translate="cpmApp.contractTimesheet.userName">User Name</span></th>
	                   	<th><span data-translate="cpmApp.contractTimesheet.inputType">Input Type</span></th>
	                    <th><span data-translate="cpmApp.contractTimesheet.monday">Monday</span></th>
	                    <th><span data-translate="cpmApp.contractTimesheet.tuesday">Tuesday</span></th>
	                    <th><span data-translate="cpmApp.contractTimesheet.wednesday">Wednesday</span></th>
	                    <th><span data-translate="cpmApp.contractTimesheet.thursday">Thursday</span></th>
	                    <th><span data-translate="cpmApp.contractTimesheet.friday">Friday</span></th>
	                    <th><span data-translate="cpmApp.contractTimesheet.saturday">Saturday</span></th>
	                    <th><span data-translate="cpmApp.contractTimesheet.sunday">Sunday</span></th>
	                </tr>
	            </thead>
	            <tbody>
	            	<tr ng-repeat="userTimesheet in vm.days">
	                    <td>{{userTimesheet.userName}}</td>
	                    <td>{{userTimesheet.inputType}}</td>
	                    <td ng-class="{'wd-ut-notholiday':vm.isNotHoliday(userTimesheet.data1)}">{{userTimesheet.data1}}</td>
	                    <td ng-class="{'wd-ut-notholiday':vm.isNotHoliday(userTimesheet.data2)}">{{userTimesheet.data2}}</td>
	                    <td ng-class="{'wd-ut-notholiday':vm.isNotHoliday(userTimesheet.data3)}">{{userTimesheet.data3}}</td>
	                    <td ng-class="{'wd-ut-notholiday':vm.isNotHoliday(userTimesheet.data4)}">{{userTimesheet.data4}}</td>
	                    <td ng-class="{'wd-ut-notholiday':vm.isNotHoliday(userTimesheet.data5)}">{{userTimesheet.data5}}</td>
	                    <td ng-class="{'wd-ut-notholiday':vm.isNotHoliday(userTimesheet.data6)}">{{userTimesheet.data6}}</td>
	                    <td ng-class="{'wd-ut-notholiday':vm.isNotHoliday(userTimesheet.data7)}">{{userTimesheet.data7}}</td>
	                </tr>
	                <tr ng-repeat="userTimesheet in vm.userTimesheets">
	                    <td>{{userTimesheet.userName}}</td>
	                    <td>{{userTimesheet.inputType}}</td>
	                    <td>
	                    	<input type="text" ng-model="userTimesheet.data1" ng-disabled="true" style="width:40px;" ng-class="{'wd-ut-error':vm.isNotSame(userTimesheet.data1,userTimesheet.check1)}" />
	                    	<input type="text" ng-model="userTimesheet.check1" required ng-minlength="1" style="width:40px;" />
	                    </td>
	                    <td>
	                    	<input type="text" ng-model="userTimesheet.data2" ng-disabled="true" style="width:40px;" ng-class="{'wd-ut-error':vm.isNotSame(userTimesheet.data2,userTimesheet.check2)}" />
	                    	<input type="text" ng-model="userTimesheet.check2" required ng-minlength="1" style="width:40px;" />
	                    </td>
	                    <td>
	                    	<input type="text" ng-model="userTimesheet.data3" ng-disabled="true" style="width:40px;" ng-class="{'wd-ut-error':vm.isNotSame(userTimesheet.data3,userTimesheet.check3)}" />
	                    	<input type="text" ng-model="userTimesheet.check3" required ng-minlength="1" style="width:40px;" />
	                    </td>
	                    <td>
	                    	<input type="text" ng-model="userTimesheet.data4" ng-disabled="true" style="width:40px;" ng-class="{'wd-ut-error':vm.isNotSame(userTimesheet.data4,userTimesheet.check4)}" />
	                    	<input type="text" ng-model="userTimesheet.check4" required ng-minlength="1" style="width:40px;" />
	                    </td>
	                    <td>
	                    	<input type="text" ng-model="userTimesheet.data5" ng-disabled="true" style="width:40px;" ng-class="{'wd-ut-error':vm.isNotSame(userTimesheet.data5,userTimesheet.check5)}" />
	                    	<input type="text" ng-model="userTimesheet.check5" required ng-minlength="1" style="width:40px;" />
	                    </td>
	                    <td>
	                    	<input type="text" ng-model="userTimesheet.data6" ng-disabled="true" style="width:40px;" ng-class="{'wd-ut-error':vm.isNotSame(userTimesheet.data6,userTimesheet.check6)}" />
	                    	<input type="text" ng-model="userTimesheet.check6" required ng-minlength="1" style="width:40px;" />
	                    </td>
	                    <td>
	                    	<input type="text" ng-model="userTimesheet.data7" ng-disabled="true" style="width:40px;" ng-class="{'wd-ut-error':vm.isNotSame(userTimesheet.data7,userTimesheet.check7)}" />
	                    	<input type="text" ng-model="userTimesheet.check7" required ng-minlength="1" style="width:40px;" />
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	    <jhi-alert></jhi-alert>
	    <button id="go_back" type="button" ui-sref="{{vm.previousState}}" class="btn btn-info">
	        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
	    </button>
	    <button type="submit" class="btn btn-primary" ng-disabled="vm.noData || vm.isSaving">
	        <span class="glyphicon glyphicon-pencil"></span>
	        <span data-translate="entity.action.save"> Save</span>
	    </button>
	</form>
</div>