<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span data-translate="global.title" style="color: black;">Cpm</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active" ng-show="false">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <li ng-class="{active: vm.$state.includes('contract')}" has-authority="ROLE_CONTRACT" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.contract.main">
                                Contract
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="ROLE_CONTRACT_INFO">
                            <a ui-sref="contract-info" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                <span data-translate="global.menu.contract.contractInfo">Contract Info</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CONTRACT_RECEIVE">
                            <a ui-sref="contract-receive" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-euro"></span>&nbsp;
                                <span data-translate="global.menu.contract.contractReceive">Contract Receive</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CONTRACT_USER">
                            <a ui-sref="contract-user" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.contract.contractUser">Contract User</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CONTRACT_BUDGET">
                            <a ui-sref="contract-budget" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;
                                <span data-translate="global.menu.contract.contractBudget">Contract Budget</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CONTRACT_PURCHASE">
                            <a ui-sref="purchase-item" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-file"></span>&nbsp;
                                <span data-translate="global.menu.contract.purchaseItem">Purchase Item</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CONTRACT_PRODUCTPRICE">
                            <a ui-sref="product-price" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.contract.productPrice">Product Price</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CONTRACT_COST">
                            <a ui-sref="contract-cost" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-usd"></span>&nbsp;
                                <span data-translate="global.menu.contract.contractCost">Contract Cost</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CONTRACT_COST">
                            <a ui-sref="contract-cost-timesheet" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-gbp"></span>&nbsp;
                                <span data-translate="global.menu.contract.contractCostTimesheet">Contract Timesheet Cost</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_CONTRACT_TIMESHEET">
                            <a ui-sref="contract-timesheet" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                <span data-translate="global.menu.contract.contractTimesheet">Contract Timesheet</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('project')}" has-authority="ROLE_PROJECT" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-folder-close"></span>
                            <span class="hidden-sm" data-translate="global.menu.project.main">
                                Project
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="ROLE_PROJECT_INFO">
                            <a ui-sref="project-info" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                <span data-translate="global.menu.project.projectInfo">Project Info</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_PROJECT_USER">
                            <a ui-sref="project-user" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.project.projectUser">Project User</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_PROJECT_COST">
                            <a ui-sref="project-cost" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-usd"></span>&nbsp;
                                <span data-translate="global.menu.project.projectCost">Project Cost</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_PROJECT_COST">
                            <a ui-sref="project-cost-timesheet" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-gbp"></span>&nbsp;
                                <span data-translate="global.menu.project.projectCostTimesheet">Project Timesheet Cost</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_PROJECT_TIMESHEET">
                            <a ui-sref="project-timesheet" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                <span data-translate="global.menu.project.projectTimesheet">Project Timesheet</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('timesheet')}" has-authority="ROLE_TIMESHEET" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span class="hidden-sm" data-translate="global.menu.timesheet.main">
                                User View
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="ROLE_TIMESHEET">
                            <a ui-sref="user-timesheet" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                <span data-translate="global.menu.timesheet.userTimesheet">User Timesheet</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('stat')}" has-authority="ROLE_STAT" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-tasks"></span>
                            <span class="hidden-sm" data-translate="global.menu.stat.main">
                                Stat
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="ROLE_STAT_CONTRACT">
                            <a ui-sref="contract-weekly-stat" ng-click="vm.collapseNavbar()">
                                <span class=" glyphicon glyphicon-info-sign"></span>&nbsp;
                                <span data-translate="global.menu.stat.contractWeeklyStat">Contract Weekly Stat</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_STAT_CONTRACT">
                            <a ui-sref="contract-monthly-stat" ng-click="vm.collapseNavbar()">
                                <span class=" glyphicon glyphicon-info-sign"></span>&nbsp;
                                <span data-translate="global.menu.stat.contractMonthlyStat">Contract Monthly Stat</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_STAT_PROJECT">
                            <a ui-sref="project-weekly-stat" ng-click="vm.collapseNavbar()">
                                <span class=" glyphicon glyphicon-info-sign"></span>&nbsp;
                                <span data-translate="global.menu.stat.projectWeeklyStat">Project Weekly Stat</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_STAT_PROJECT">
                            <a ui-sref="project-monthly-stat" ng-click="vm.collapseNavbar()">
                                <span class=" glyphicon glyphicon-info-sign"></span>&nbsp;
                                <span data-translate="global.menu.stat.projectMonthlyStat">Project Monthly Stat</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_STAT_PROJECT">
                            <a ui-sref="sales-bonus" ng-click="vm.collapseNavbar()">
                                <span class=" glyphicon glyphicon-info-sign"></span>&nbsp;
                                <span data-translate="global.menu.stat.salesBonus">Sales Bonus</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="">
                            <a ui-sref="project-overall-controller" ng-click="vm.collapseNavbar()">
                                <span class=" glyphicon glyphicon-info-sign"></span>&nbsp;
                                <span data-translate="global.menu.project.projectOverAllController">Project OverAll Controller</span>
                        <li ui-sref-active="active" has-authority="ROLE_STAT_PROJECT">
                            <a ui-sref="consultant-bonus" ng-click="vm.collapseNavbar()">
                                <span class=" glyphicon glyphicon-info-sign"></span>&nbsp;
                                <span data-translate="global.menu.stat.consultantBonus">Consultant Bonus</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('info')}" has-authority="ROLE_INFO" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="hidden-sm" data-translate="global.menu.info.main">
                                Info
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="ROLE_INFO_BASIC">
                            <a ui-sref="dept-type" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-star-empty"></span>&nbsp;
                                <span data-translate="global.menu.info.deptType">Dept Type</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_INFO_BASIC">
                            <a ui-sref="dept-info" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                <span data-translate="global.menu.info.deptInfo">Dept Info</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_INFO_BASIC">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.info.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_INFO_USERCOST">
                            <a ui-sref="user-cost" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-gbp"></span>&nbsp;
                                <span data-translate="global.menu.info.userCost">User Cost</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_INFO_BASIC">
                            <a ui-sref="holiday-info" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-leaf"></span>&nbsp;
                                <span data-translate="global.menu.info.holidayInfo">Holiday Info</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_INFO_BASIC">
                            <a ui-sref="work-area" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;
                                <span data-translate="global.menu.info.workArea">Work Area</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer" style="display:none;">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer" ng-switch-when="true">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="ROLE_USER">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_USER">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_USER">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-show="false" has-authority="ROLE_USER">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-show="false" has-authority="ROLE_USER">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer" ng-show="false">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active" has-authority="ROLE_ADMIN">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm" ng-show="false">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
