<div>
    <h2 data-translate="cpmApp.purchaseItem.home.title">Purchase Items</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
       <div class="row form-horizontal">
        	<div class="form-group">
	            <div class="col-xs-4">
	                <button class="btn btn-primary" ui-sref="purchase-item.new" >
	                    <span class="glyphicon glyphicon-plus"></span>
	                    <span class=""  data-translate="cpmApp.purchaseItem.home.createLabel">
	                        Create new Purchase Item
	                    </span>
	                </button>
	            </div>
			</div>
        </div>
         <form name="searchForm" class="form-horizontal">
			<div class="form-group">
	            <div class="col-sm-4">
	          		<label class="col-sm-4 control-label" data-translate="cpmApp.purchaseItem.serialNum">Serial Num</label>
		            <div class="col-sm-8">
		            	<select class="form-control" ng-model="vm.searchQuery.contractId"
			            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
			            	<option value="">--合同编号--</option>
			            </select>
		            </div>
	            </div>
	            <div class="col-sm-4">
	          		<label class="col-sm-4 control-label" data-translate="cpmApp.purchaseItem.name">Name</label>
                    <div class="col-sm-8" >
	                   	<input type="text" class="form-control" ng-model="vm.searchQuery.name">
                    </div>
	            </div>
            </div>
            <div class="form-group">
	            <div class="col-sm-4">
	            	<label class="col-sm-4 control-label" data-translate="cpmApp.purchaseItem.type">Type</label>
		            <div class="col-sm-8">
		            	<select class="form-control" name="type" ng-model="vm.searchQuery.type"
			            	ng-options="type.name for type in vm.types track by type.id">
			            	<option value="">--采购类型--</option>
			            </select>
		            </div>
	            </div>
	            <div class="col-sm-4">
	            	<label class="col-sm-4 control-label" data-translate="cpmApp.purchaseItem.source">Source</label>
		            <div class="col-sm-8">
		            	<select class="form-control" name="source" ng-model="vm.searchQuery.source"
			            	ng-options="source.name for source in vm.sources track by source.id">
			            	<option value="">--采购来源--</option>
			            </select>
		            </div>
	            </div>
	         </div>
	         <div class="form-group">
	            <div class="col-sm-4">
	            </div>
	            <div class="col-sm-4 pull-right input-group">
	            	<div class="col-sm-4">
	            		&nbsp;
	            	</div>
	            	<div class="col-sm-8" >
		            	<span  class="width-min" >
	                        <button class="btn btn-info" ng-click="vm.search()">
	                            <span class="glyphicon glyphicon-search"></span>
	                            <span class="hidden-xs hidden-sm" data-translate="entity.action.search"></span>
	                        </button>
	                    </span>
	                    <span class="width-min" ng-if="vm.haveSearch">
	                        <button class="btn btn-info" ng-click="vm.clear()">
	                            <span class="glyphicon glyphicon-trash"></span>
	                            <span class="hidden-xs hidden-sm" data-translate="entity.action.clear"></span>
	                        </button>
	                    </span>
	            	</div>
	            </div>
            </div>
		</form>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="wpi.name"><span data-translate="cpmApp.purchaseItem.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.serialNum"><span data-translate="cpmApp.purchaseItem.serialNum">Serial Num</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.name"><span data-translate="cpmApp.purchaseItem.contractName">Contract Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcb.name"><span data-translate="cpmApp.purchaseItem.budgetName">Budget Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.quantity"><span data-translate="cpmApp.purchaseItem.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.price"><span data-translate="cpmApp.purchaseItem.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.units"><span data-translate="cpmApp.purchaseItem.units">Units</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.type"><span data-translate="cpmApp.purchaseItem.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.source"><span data-translate="cpmApp.purchaseItem.source">Source</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.purchaser"><span data-translate="cpmApp.purchaseItem.purchaser">Purchaser</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.totalAmount"><span data-translate="cpmApp.purchaseItem.totalAmount">Total Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.status"><span data-translate="cpmApp.purchaseItem.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.createTime"><span data-translate="cpmApp.purchaseItem.createTime">Create Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpi.updateTime"><span data-translate="cpmApp.purchaseItem.updateTime">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchaseItem in vm.purchaseItems track by purchaseItem.id">
                    <td><a ui-sref="purchase-item-detail({id:purchaseItem.id})">{{purchaseItem.name}}</a></td>
                    <td>{{purchaseItem.contractNum}}</td>
                    <td>{{purchaseItem.contractName}}</td>
                    <td>{{purchaseItem.budgetName}}</td>
                    <td>{{purchaseItem.quantity}}</td>
                    <td>{{purchaseItem.price}}</td>
                    <td>{{purchaseItem.units}}</td>
                    <td>{{purchaseItem.typeName}}</td>
                    <td>{{purchaseItem.sourceName}}</td>
                    <td>{{purchaseItem.purchaser}}</td>
                    <td>{{purchaseItem.totalAmount}}</td>
                    <td>{{purchaseItem.statusName}}</td>
                    <td>{{purchaseItem.createTime | date:'medium'}}</td>
                    <td>{{purchaseItem.updateTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="purchase-item-detail({id:purchaseItem.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="purchase-item.edit({id:purchaseItem.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="purchase-item.delete({id:purchaseItem.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
