<h2><span data-translate="cpmApp.purchaseItem.home.createOrEditLabel">Create or edit a Purchase Item</span></h2>
<hr>
<form name="myForm" role="form" ng-submit="vm.save()">
	<div class="container-fluid">
		<div class="row form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.purchaseItem.contract" for="field_contractId">Contract Id</label>
					<select class="form-control" name="contractId" ng-model="vm.purchaseItem.contractId" id="field_contractId"
	            		ng-required="true" ng-change="vm.contractChanged()" ng-disabled="vm.contractInfoDisable"
		            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
		         	</select>
	                <div class="help-block"
	                   ng-hide="vm.purchaseItem.contractId" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.purchaseItem.budgetName" for="field_budgetId">Budget Id</label>
					<select class="form-control" name="budgetId" ng-model="vm.purchaseItem.budgetId" id="field_budgetId"
	            		ng-required="true" ng-change="vm.budgetChanged()" ng-disabled="vm.contractInfoDisable"
		            	ng-options="contractBudget.val for contractBudget in vm.contractBudgets track by contractBudget.key">
		            </select>
	                <div class="help-block"
	                   ng-hide="vm.purchaseItem.budgetId" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.purchaseItem.type" for="field_type">Type</label>
					<select class="form-control" name="type" ng-model="vm.purchaseItem.type" id="field_type"
		            	ng-options="type.val for type in vm.types track by type.key"
	            		ng-required="true">
		         	</select>
	                <div class="help-block"
	                   ng-hide="vm.purchaseItem.type" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.purchaseItem.source" for="field_source">Source</label>
					<select class="form-control" name="source" ng-model="vm.purchaseItem.source" id="field_source"
		            	ng-options="source.val for source in vm.sources track by source.key"
	            		ng-required="true">
		         	</select>
	                <div class="help-block"
	                   ng-hide="vm.purchaseItem.source" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
				</div>
			</div>
			<div class="form-group">
        		<div class="col-sm-6">
        			<label class="control-label" data-translate="cpmApp.purchaseItem.name" for="field_name">Name</label>
	            	<input type="text" class="form-control" name="name" id="field_name" ng-required="true" 
	                    ng-model="vm.purchaseItem.name"
	                     />
	                <div class="help-block"
	                   ng-show="myForm.name.$error.required" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
        		</div>
        		<div class="col-sm-6">
            		<label class="control-label" data-translate="cpmApp.purchaseItem.purchaser" for="field_purchaser">Purchaser</label>
            		<input type="text" class="form-control" name="purchaser" id="field_purchaser"
                    	ng-model="vm.purchaseItem.purchaser"
                     	/>
                     <div class="help-block"
	                  	ng-hide="vm.purchaseItem.purchaser" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
       			</div>
        	</div>
			
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.purchaseItem.quantity" for="field_quantity">Quantity</label>
					<input type="number" class="form-control" name="quantity" id="field_quantity"
	                    	ng-model="vm.purchaseItem.quantity" step="1" min="0" ng-required="true" ng-change="vm.quantityChanged()"
	                    	 />
                   	 <div ng-show="myForm.quantity.$dirty&&myForm.quantity.$error.number" class="alert alert-danger help-block"> 
                    	购买数量必须为数字
                	</div>
                	<div ng-show="myForm.quantity.$dirty&&myForm.quantity.$error.min" class="alert alert-danger help-block"> 
                		购买数量最小值为0
           			</div>
	                <div class="help-block"
	                   ng-hide="vm.purchaseItem.quantity" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.purchaseItem.units" for="field_units">Units</label>
					<input type="text" class="form-control" name="units" ng-model="vm.purchaseItem.units" id="field_units"
		            		ng-required="true"
		            		/>
	                <div class="help-block"
	                   ng-hide="vm.purchaseItem.units" data-translate="entity.validation.required" style="color:red">
	                    This field is required.
	                </div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.purchaseItem.price" for="field_price">Price</label>
					<input type="number" class="form-control" name="price" id="field_price"
                    	ng-model="vm.purchaseItem.price" step="0.1" min="0" ng-required="true" ng-change="vm.priceChanged()"
                     	/>
                    <div ng-show="myForm.price.$dirty&&myForm.price.$error.number" class="alert alert-danger help-block"> 
                    	单价必须为数字
                	</div>
                	<div ng-show="myForm.price.$dirty&&myForm.price.$error.min" class="alert alert-danger help-block"> 
                		单价最小值为0
           			</div>
               	 	<div class="help-block"
                  	 	ng-hide="vm.purchaseItem.price" data-translate="entity.validation.required" style="color:red">
                    	This field is required.
                	</div>
				</div>
				<div class="col-sm-6">
					<label class="control-label" data-translate="cpmApp.purchaseItem.totalAmount" for="field_totalAmount">TotalAmount</label>
					<input type="number" class="form-control" name="totalAmount" ng-model="vm.purchaseItem.totalAmount" id="field_totalAmount"
	            		ng-required="true" ng-change="vm.totalAmountChanged()" step="0.1" min="0"
	            		/>
	            	<div ng-show="myForm.totalAmount.$dirty&&myForm.totalAmount.$error.number" class="alert alert-danger help-block"> 
                    	总价必须为数字
                	</div>
                	<div ng-show="myForm.totalAmount.$dirty&&myForm.totalAmount.$error.min" class="alert alert-danger help-block"> 
                		总价最小值为0
           			</div>
                	<div class="help-block"
                   		ng-hide="vm.purchaseItem.totalAmount" data-translate="entity.validation.required" style="color:red">
                    	This field is required.
                	</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<jhi-alert></jhi-alert>
	<jhi-alert-error></jhi-alert-error>
    <button type="submit"
        ui-sref="{{ vm.previousState }}"
        class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
    <button type="submit" ng-disabled="!myForm.$valid || vm.isSaving" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
    </button>
</form>
