.wd-selectfile-box{
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 170px;
	text-align: center;
	padding: 50px 10px;
	margin-left: 10px;
	font-size:15px;
}

.wd-selectfile-box.dragover {
    border: 5px dashed blue;
}

.wd-selectfile-box.dragover-err {
    border: 5px dashed red;
}
.wd-response {
	font-size:15px;
}
.wd-response .wd-progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.wd-response .wd-progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
form .wd-response .wd-progress {
    line-height: 15px;
}
.wd-response .wd-handle-fail{
	color:red;
}
.wd-response .wd-handle-succ{
	color:green;
}

.wd-title{
  position:relative;
  text-align:center;
}
.wd-title:before, .wd-title:after {
  content: "";
  width: 40%;
  height: 1px;
  position: absolute;
  top: 50%; 
}
.wd-title:before {
  background: -webkit-linear-gradient(right, #ff0000 , #eee); 
  background: -o-linear-gradient(left, #ff0000, #eee); 
  background: -moz-linear-gradient(left,#ff0000, #eee);
  background: linear-gradient(to left, #ff0000, #eee); 
  left: 2px;
}
.wd-title:after {
  background: -webkit-linear-gradient(left, #ff0000, #eee); 
  background: -o-linear-gradient(right, #ff0000, #eee); 
  background: -moz-linear-gradient(right,#ff0000, #eee);
  background: linear-gradient(to right, #ff0000, #eee); 
  right: 2px;
}
@media (max-width : 767px){
	.wd-title:before, .wd-title:after{
		content: "";
  		width: 25%;
  		height: 1px;
  		position: absolute;
  		top: 50%; 
	}	
}

.wd-ut-error {
	background-color: lightblue;
}

.wd-ut-notholiday {
	color: #a90b0b;
}