<div>
    <h2 data-translate="{{vm.contractCostTitle}}">Contract Costs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row form-horizontal" ng-show="vm.canEdit">
        	<div class="form-group">
	            <div class="col-xs-12">
	                <button class="btn btn-primary" ui-sref="contract-cost.new" >
	                    <span class="glyphicon glyphicon-plus"></span>
	                    <span data-translate="cpmApp.contractCost.home.createLabel">
	                        Create new Contract Cost
	                    </span>
	                </button>
	                <button type="button" class="btn btn-primary" ui-sref="contract-cost.import">
			            <span class="glyphicon glyphicon-import"></span>
		                <span data-translate="cpmApp.contractCost.home.import">Import Excel</span>
	                </button>
	            </div>
	      	</div>
        </div>
        <form name="searchForm" class="form-horizontal">
			<div class="form-group">
	            <div class="col-sm-4">
	          		<label class="col-sm-4 control-label" data-translate="cpmApp.contractCost.contractId">Contract Num</label>
		            <div class="col-sm-8">
		            	<select class="form-control" ng-model="vm.searchQuery.contractId" ui-select2
			            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
			            	<option value="">--合同编号--</option>
			            </select>
		            </div>
	            </div>
	            <div class="col-sm-4">
	          		<label class="col-sm-4 control-label" data-translate="cpmApp.contractCost.type">Type</label>
                    <div class="col-sm-8">
		            	<select class="form-control" ng-model="vm.searchQuery.type"
			            	ng-options="type.val for type in vm.types track by type.key">
			            	<option value="">--类型--</option>
			            </select>
		            </div>
	            </div>
	            <div class="col-sm-4">
	            	<label class="col-sm-4 control-label" data-translate="cpmApp.contractCost.name">Name</label>
                    <div class="col-sm-8" >
	                   	<input type="text" class="form-control" ng-model="vm.searchQuery.name">
                    </div>
	            </div>
            </div>
            <div class="form-group">
	            <div class="col-sm-4">
	            </div>
	            <div class="col-sm-4">
	            </div>
	            <div class="col-sm-4 pull-right">
	            	<div class="col-sm-4">
	            	</div>
	            	<div class="col-sm-8" >
		            	<span  class="width-min" >
	                        <button class="btn btn-info" ng-click="vm.search()">
	                            <span class="glyphicon glyphicon-search"></span>
	                            <span data-translate="entity.action.search"></span>
	                        </button>
	                    </span>
	                    <span class="width-min" ng-if="vm.haveSearch">
	                        <button class="btn btn-info" ng-click="vm.clear()">
	                            <span class="glyphicon glyphicon-trash"></span>
	                            <span data-translate="entity.action.clear"></span>
	                        </button>
	                    </span>
	            	</div>
	            </div>
            </div>
		</form>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="wcc.name" class="text-center"><span data-translate="cpmApp.contractCost.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.serialNum"><span data-translate="cpmApp.contractCost.contractId">Contract Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wci.name" class="text-center"><span data-translate="cpmApp.contractCost.contractName">Contract Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcc.dept"><span data-translate="cpmApp.contractCost.dept">Dept</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcc.type"><span data-translate="cpmApp.contractCost.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcc.input" ng-if="vm.isShow"><span data-translate="cpmApp.contractCost.input">Input</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcc.total"><span data-translate="cpmApp.contractCost.total">Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wcc.status"><span data-translate="cpmApp.contractCost.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contractCost in vm.contractCosts track by contractCost.id">
                    <td class="text-center"><a ui-sref="{{vm.viewUiSref}}({id:contractCost.id})">{{contractCost.name}}</a></td>
                    <td class="text-center">{{contractCost.contractNum}}</td>
                    <td class="text-center">{{contractCost.contractName}}</td>
                    <td class="text-center">{{contractCost.dept}}</td>
                    <td class="text-center">{{contractCost.typeName}}</td>
                    <td class="text-center" ng-if="vm.isShow">{{contractCost.input}}</td>
                    <td class="text-center">{{contractCost.total}}</td>
                    <td class="text-center">{{contractCost.statusName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="{{vm.viewUiSref}}({id:contractCost.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" ng-hide="{{contractCost.type == 1}}"
                                    ui-sref="contract-cost.edit({id:contractCost.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit" ng-hide="{{contractCost.type == 1}}"
                                    ui-sref="contract-cost.delete({id:contractCost.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
