
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <h2 class="modal-title" id="myContractCostLabel" data-translate="cpmApp.contractCost.home.createOrEditLabel">Create or edit a Contract Cost</h2>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contractCost.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contractCost.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractCost.contractId" for="field_contractId">Contract Id</label>
            <input type="number" class="form-control" name="contractId" id="field_contractId"
                    ng-model="vm.contractCost.contractId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractCost.budgetId" for="field_budgetId">Budget Id</label>
            <input type="number" class="form-control" name="budgetId" id="field_budgetId"
                    ng-model="vm.contractCost.budgetId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractCost.deptId" for="field_deptId">Dept Id</label>
            <input type="number" class="form-control" name="deptId" id="field_deptId"
                    ng-model="vm.contractCost.deptId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractCost.dept" for="field_dept">Dept</label>
            <input type="text" class="form-control" name="dept" id="field_dept"
                    ng-model="vm.contractCost.dept"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractCost.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.contractCost.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractCost.type" for="field_type">Type</label>
            <input type="number" class="form-control" name="type" id="field_type"
                    ng-model="vm.contractCost.type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractCost.total" for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                    ng-model="vm.contractCost.total"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractCost.costDesc" for="field_costDesc">Cost Desc</label>
            <input type="text" class="form-control" name="costDesc" id="field_costDesc"
                    ng-model="vm.contractCost.costDesc"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.contractCost.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.contractCost.status"
                     />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
