<div>
	<h2 data-translate="priceList.title">PriceList</h2>
	
	<div class="row">
        <div class="col-md-5" style="width:auto;">
            <h4 data-translate="priceList.filter.title1">Filter by name</h4>
            <p class="input-group">
                <input type="text" ng-model="name" class="form-control" ng-change="vm.onChangeData()">
            </p>
            <button type="submit"
               ui-sref="user-management.delete({login:user.login})"
               class="btn btn-success btn-group-xs">
               <span class="glyphicon glyphicon-plus-sign"></span>
               <span class="hidden-xs hidden-sm" data-translate="entity.action.add"></span>
            </button>
        </div>
        <div class="col-md-5" style="width:auto;">
            <h4 data-translate="priceList.filter.title2">Filter by type</h4>
            <p class="input-group">
					<select id="" class="" ng-change="vm.onChangeData()" ng-model="vm.type">
						<option value="">---请选择产品类型---</option>
						<option value="0">硬件</option>				                     	
						<option value="1">软件</option>				                     												
					</select>
            </p>
        </div>
        <div class="col-md-5" style="width:auto;">
            <h4 data-translate="priceList.filter.title3">Filter by source</h4>
            <p class="input-group">
					<select id="" class="" ng-change="vm.onChangeData()" ng-model="vm.source">
						<option value="">---请选择产品来源---</option>
						<option value="0">外部</option>				                     	
						<option value="1">内部</option>				                     												
					</select>
            </p>
        </div>
	
	<table class="table table-striped">
		<thead>
        <tr>
            <th ng-click="predicate = 'name'; reverse=!reverse"><span data-translate="priceList.table.header.name">Name</span><span class="glyphicon glyphicon-sort"></span></th>
            <th ng-click="predicate = 'type'; reverse=!reverse"><span data-translate="priceList.table.header.type">Type</span><span class="glyphicon glyphicon-sort"></span></th>
            <th ng-click="predicate = 'unitPrice'; reverse=!reverse"><span data-translate="priceList.table.header.unitPrice">Unit price</span><span class="glyphicon glyphicon-sort"></span></th>
            <th ng-click="predicate = 'unit'; reverse=!reverse"><span data-translate="priceList.table.header.unit">Unit</span><span class="glyphicon glyphicon-sort"></span></th>
            <th ng-click="predicate = 'source'; reverse=!reverse"><span data-translate="priceList.table.header.source">Source</span><span class="glyphicon glyphicon-sort"></span></th>
            <th ng-click="predicate = 'creator'; reverse=!reverse"><span data-translate="priceList.table.header.creator">Creator</span><span class="glyphicon glyphicon-sort"></span></th>
            <th ng-click="predicate = 'creationTime'; reverse=!reverse"><span data-translate="priceList.table.header.creationTime">Creation time</span><span class="glyphicon glyphicon-sort"></span></th>
            <th ng-click="predicate = 'updater'; reverse=!reverse"><span data-translate="priceList.table.header.updater">Updater</span><span class="glyphicon glyphicon-sort"></span></th>
            <th ng-click="predicate = 'updateTime'; reverse=!reverse"><span data-translate="priceList.table.header.updateTime">Update time</span><span class="glyphicon glyphicon-sort"></span></th>
        </tr>
        </thead>
        
        <tr ng-repeat="price in vm.priceList | filter:filter | orderBy:predicate:reverse" ng-hide="price.filtered">
            <td><span>{{price.name}}</span></td>
            <td><small>{{price.type}}</small></td>
            <td>{{price.unitPrice}}</td>
            <td>{{price.unit}}</td>
            <td>{{price.source}}</td>
            <td>{{price.creator}}</td>
            <td>{{price.creationTime| date:'medium'}}</td>
            <td>{{price.updater}}</td>
            <td>{{price.updateTime| date:'medium'}}</td>
            <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="priceList-detail({login:user.login})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.edit({login:user.login})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.delete({login:user.login})"
                                class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login==user.login">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
        </tr>
	</table>
	
	<div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)"></uib-pagination>
    </div>
</div>