<div>
	<h2 data-translate="priceList.title">PriceList</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
        <div class="col-md-5" style="width:auto;">
            <h4 data-translate="priceList.filter.title1">Filter by name</h4>
            <p class="input-group">
                <input type="text" ng-model="name" class="form-control" ng-change="vm.onChangeData()">
            </p>
            <button type="submit"
               ui-sref="priceList.new"
               class="btn btn-success btn-group-xs">
               <span class="glyphicon glyphicon-plus-sign"></span>
               <span class="hidden-xs hidden-sm" data-translate="entity.action.add"></span>
            </button>
         </div>
        </div>
        <div class="col-md-5" style="width:auto;">
            <h4 data-translate="priceList.filter.title2">Filter by type</h4>
            <p class="input-group">
					<select id="" class="" ng-change="vm.onChangeData()" ng-model="type">
						<option value="">---请选择产品类型---</option>
						<option value="0">硬件</option>				                     	
						<option value="1">软件</option>				                     												
					</select>
            </p>
        </div>
        <div class="col-md-5" style="width:auto;">
            <h4 data-translate="priceList.filter.title3">Filter by source</h4>
            <p class="input-group">
					<select id="" class="" ng-change="vm.onChangeData()" ng-model="source">
						<option value="">---请选择产品来源---</option>
						<option value="0">外部</option>				                     	
						<option value="1">内部</option>				                     												
					</select>
            </p>
        </div>
		<div class="">
			<table class="table table-striped">
			   <thead>
		       <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
		      	   <th jh-sort-by="id"><span data-translate="global.field.id">ID</span><span class="glyphicon glyphicon-sort"></span></th>
		           <th jh-sort-by="name"><span data-translate="priceList.table.header.name">Name</span><span class="glyphicon glyphicon-sort"></span></th>
		           <th jh-sort-by="type"><span data-translate="priceList.table.header.type">Type</span><span class="glyphicon glyphicon-sort"></span></th>
		           <th jh-sort-by="unitPrice"><span data-translate="priceList.table.header.unitPrice">Unit price</span><span class="glyphicon glyphicon-sort"></span></th>
		           <th jh-sort-by="unit"><span data-translate="priceList.table.header.unit">Unit</span><span class="glyphicon glyphicon-sort"></span></th>
		           <th jh-sort-by="source"><span data-translate="priceList.table.header.source">Source</span><span class="glyphicon glyphicon-sort"></span></th>
		           <th jh-sort-by="creator"><span data-translate="priceList.table.header.creator">Creator</span><span class="glyphicon glyphicon-sort"></span></th>
		           <th jh-sort-by="creatTime"><span data-translate="priceList.table.header.creationTime">Creation time</span><span class="glyphicon glyphicon-sort"></span></th>
		           <th jh-sort-by="updator"><span data-translate="priceList.table.header.updater">Updater</span><span class="glyphicon glyphicon-sort"></span></th>
		           <th jh-sort-by="updateTime"><span data-translate="priceList.table.header.updateTime">Update time</span><span class="glyphicon glyphicon-sort"></span></th>
		       </tr>
		       </thead>
       		   <tbody>
		        <tr ng-repeat="price in vm.prices track by price.id">
		        	<td><a ui-sref="priceList-detail({id:price.id})">{{price.id}}</a></td>
		            <td>{{price.name}}</td>
		            <td>{{price.type}}</td>
		            <td>{{price.unitPrice}}</td>
		            <td>{{price.unit}}</td>
		            <td>{{price.source}}</td>
		            <td>{{price.creator}}</td>
		            <td>{{price.creatTime| date:'medium'}}</td>
		            <td>{{price.updator}}</td>
		            <td>{{price.updateTime| date:'medium'}}</td>
		            <td class="text-right">
		                    <div class="btn-group flex-btn-group-container">
		                        <button type="submit"
		                                ui-sref="priceList-detail({id:price.id})"
		                                class="btn btn-info btn-sm">
		                            <span class="glyphicon glyphicon-eye-open"></span>
		                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
		                        </button>
		                        <button type="submit"
		                                ui-sref="priceList.edit({id:price.id})"
		                                class="btn btn-primary btn-sm">
		                            <span class="glyphicon glyphicon-pencil"></span>
		                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
		                        </button>
		                        <button type="submit"
		                                ui-sref="priceList.delete({id:price.id})"
		                                class="btn btn-danger btn-sm">
		                            <span class="glyphicon glyphicon-remove-circle"></span>
		                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
		                        </button>
		                    </div>
		                </td>
		        	</tr>
     			</tbody>
			</table>
		</div>
		<div class="text-center">
	        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)"></uib-pagination>
	    </div>
</div>