<div>
    <h2 data-translate="cpmApp.contractMonthlyStat.home.title">Contract Monthly Stats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <form name="searchForm" class="form-horizontal">
	           <div class="form-group">
	              	<div class="col-sm-4">
		          		<label class="col-sm-4 control-label" data-translate="cpmApp.contractMonthlyStat.contractSerialNum">Contract serialnum</label>
			            <div class="col-sm-8">
			            	<select class="form-control" ng-model="vm.searchQuery.contractId" name="contractId"
				            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
				            	<option value="">--合同编号--</option>
				            </select>
			            </div>
		            </div>
		            <div class="col-sm-4">
		            </div>
		            <div class="col-sm-4 pull-right">
		            	<div class="col-sm-4">
		            		&nbsp;
		            	</div>
		            	<div class="col-sm-8">
		            		 <span  class="width-min" >
		                        <button class="btn btn-info" ng-click="vm.search()">
		                            <span class="glyphicon glyphicon-search"></span>
		                            <span data-translate="entity.action.search"></span>
		                        </button>
		                    </span>
		                    <span class="width-min" ng-if="vm.haveSearch">
		                        <button class="btn btn-info" ng-click="vm.clear()">
		                            <span class="glyphicon glyphicon-trash"></span>
		                            <span data-translate="entity.action.clear"></span>
		                        </button>
		                    </span>
		            	</div>
		            </div>
				</div>
           </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="i.serialNum"><span data-translate="cpmApp.contractMonthlyStat.serialNum">Contract serialNum</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="i.name"><span data-translate="cpmApp.contractMonthlyStat.name">Contract name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.finishRate"><span data-translate="cpmApp.contractMonthlyStat.finishRate">Finish Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.receiveTotal"><span data-translate="cpmApp.contractMonthlyStat.receiveTotal">Receive Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.costTotal"><span data-translate="cpmApp.contractMonthlyStat.costTotal">Cost Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.grossProfit"><span data-translate="cpmApp.contractMonthlyStat.grossProfit">Gross Profit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="m.statWeek"><span data-translate="cpmApp.contractMonthlyStat.statWeek">Stat Week</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contractMonthlyStat in vm.contractMonthlyStats track by contractMonthlyStat.id">
                    <td><a ui-sref="contract-monthly-stat-detail({id:contractMonthlyStat.id})">{{contractMonthlyStat.serialNum}}</a></td>
                    <td>{{contractMonthlyStat.name}}</td>
                    <td>{{contractMonthlyStat.finishRate}}%</td>
                    <td>{{contractMonthlyStat.receiveTotal}}</td>
                    <td>{{contractMonthlyStat.costTotal}}</td>
                    <td>{{contractMonthlyStat.grossProfit}}</td>
                    <td>{{contractMonthlyStat.statWeek}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contract-monthly-stat-detail({id:contractMonthlyStat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="cpmApp.contractMonthlyStat.transDetail"></span>
                            </button>
							<button type="button" ui-sref="contract-monthly-stat-detail.chart({id:contractMonthlyStat.id})" class="btn btn-primary btn-sm">
						        <span class="glyphicon glyphicon-pencil"></span>
						        <span class="hidden-xs hidden-sm" data-translate="cpmApp.contractMonthlyStat.transChart"> Edit</span>
						    </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
