<div>
    <h2 data-translate="cpmApp.bonus.home.title">Bonus</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
    	<div class="row">
    		<form name="searchForm" class="form-horizontal">
				<div class="form-group">
		            <div class="col-sm-4">
		          		<label class="col-sm-4 control-label" data-translate="cpmApp.bonus.toDate">To Date</label>
			            <div class="col-sm-8">
			                <p class="input-group">
			                    <input id="search_toDate" type="text" class="form-control" name="statWeek" datetime-picker="yyyyMMdd"
				           		 		enable-time="false" ng-model="vm.searchQuery.statWeek" is-open="vm.datePickerOpenStatus.statWeek"/>
				          		<span class="input-group-btn">
				           			<button type="button" class="btn btn-default" ng-click="vm.openCalendar('statWeek')"><i class="glyphicon glyphicon-calendar"></i></button>
				            	</span>
			                </p>
			            </div>
				    </div>
           			<div class="col-sm-4">
           				<label class="col-sm-4 control-label" data-translate="cpmApp.bonus.serialNum">Serial Num</label>
                  		<div class="col-sm-8">
	     					<select class="form-control" ng-model="vm.searchQuery.contractId"
				            	ng-options="contractInfo.val for contractInfo in vm.contractInfos track by contractInfo.key">
				            	<option value="">--合同编号--</option>
				            </select>
     					</div> 
           			</div>
           		</div>
           		<div class="form-group">
           			<div class="col-sm-6 pull-right input-group">
		            	<div class="col-sm-4">
		            		&nbsp;
		            	</div>
		            	<div class="col-sm-8" >
			            	<span  class="width-min" >
		                        <button class="btn btn-info" ng-click="vm.search()">
		                            <span class="glyphicon glyphicon-search"></span>
		                            <span class="hidden-xs hidden-sm" data-translate="entity.action.search"></span>
		                        </button>
		                    </span>
		                    <span class="width-min" ng-if="vm.haveSearch">
		                        <button class="btn btn-info" ng-click="vm.clear()">
		                            <span class="glyphicon glyphicon-trash"></span>
		                            <span class="hidden-xs hidden-sm" data-translate="entity.action.clear"></span>
		                        </button>
		                    </span>
		                    <span class="width-min">
	                        	<button class="btn btn-info" ng-click="vm.exportXls()">
	                            	<span class="glyphicon glyphicon-save"></span>
	                            	<span class="hidden-xs hidden-sm" data-translate="entity.action.export"></span>
	                        	</button>
	                    	</span>
		            	</div>
		            </div>
           		</div>	
	            </div>
			</form>
    	</div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span data-translate="cpmApp.bonus.contractId">Serial Num</span></th>
                    <th><span data-translate="cpmApp.bonus.contractAmount">Contract Amount</span></th>
                    <th><span data-translate="cpmApp.bonus.salesBonus">Sales Bonus</span></th>
					<th><span data-translate="cpmApp.bonus.projectBonus">Project Bonus</span></th>
					<th><span data-translate="cpmApp.bonus.implemtationBonus">Implemtation Bonus</span></th>
					<th><span data-translate="cpmApp.bonus.academicBonus">Academic Bonus</span></th>
                    <th><span data-translate="cpmApp.bonus.consultantsBonus">ConsultantsBonus</span></th>
                    <th><span data-translate="cpmApp.bonus.bonusTotal">Bonus Total</span></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bonus in vm.bonuses track by bonus.id">
                    <td><a ui-sref="bonus-detail({id:bonus.id})">{{bonus.serialNum}}</a></td>
                    <td>{{bonus.contractAmount}}</td>
                    <td>{{bonus.salesBonus}}</td>
                    <td>{{bonus.projectBonus}}</td>
                    <td>{{bonus.implemtationBonus}}</td>
                    <td>{{bonus.academicBonus}}</td>
                    <td>{{bonus.consultantsBonus}}</td>
                    <td>{{bonus.bonusTotal}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bonus-detail({id:bonus.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
