
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectTimesheetLabel" data-translate="cpmApp.projectTimesheet.home.createOrEditLabel">Create or edit a Project Timesheet</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.projectTimesheet.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.projectTimesheet.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.projectId" for="field_projectId">Project Id</label>
            <input type="number" class="form-control" name="projectId" id="field_projectId"
                    ng-model="vm.projectTimesheet.projectId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.userId" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.projectTimesheet.userId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.realInput" for="field_realInput">Real Input</label>
            <input type="number" class="form-control" name="realInput" id="field_realInput"
                    ng-model="vm.projectTimesheet.realInput"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.acceptInput" for="field_acceptInput">Accept Input</label>
            <input type="number" class="form-control" name="acceptInput" id="field_acceptInput"
                    ng-model="vm.projectTimesheet.acceptInput"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.workDay" for="field_workDay">Work Day</label>
            <input type="text" class="form-control" name="workDay" id="field_workDay"
                    ng-model="vm.projectTimesheet.workDay"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.projectTimesheet.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.creator" for="field_creator">Creator</label>
            <input type="text" class="form-control" name="creator" id="field_creator"
                    ng-model="vm.projectTimesheet.creator"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.createTime" for="field_createTime">Create Time</label>
                <div class="input-group">
                    <input id="field_createTime" type="text" class="form-control" name="createTime" datetime-picker="{{dateformat}}" ng-model="vm.projectTimesheet.createTime" is-open="vm.datePickerOpenStatus.createTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.updator" for="field_updator">Updator</label>
            <input type="text" class="form-control" name="updator" id="field_updator"
                    ng-model="vm.projectTimesheet.updator"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cpmApp.projectTimesheet.updateTime" for="field_updateTime">Update Time</label>
                <div class="input-group">
                    <input id="field_updateTime" type="text" class="form-control" name="updateTime" datetime-picker="{{dateformat}}" ng-model="vm.projectTimesheet.updateTime" is-open="vm.datePickerOpenStatus.updateTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
