<div>
    <h2 data-translate="cpmApp.projectTimesheet.home.title">Project Timesheets</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <form name="searchForm" class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-4">
	          		<label class="col-sm-4 control-label" data-translate="cpmApp.projectTimesheet.objName">Project Info</label>
		            <div class="col-sm-8">
		            	<select class="form-control" ng-model="vm.searchQuery.projectId"
			            	ng-options="projectInfo.val for projectInfo in vm.projectInfos track by projectInfo.key">
			            	<option value="">--项目编号--</option>
			            </select>
		            </div>
	            </div>
	            <div class="col-sm-4">
	          		<label class="col-sm-4 control-label" data-translate="cpmApp.projectTimesheet.workDay">Work Day</label>
		            <div class="col-sm-8">
		                <p class="input-group">
		                    <input id="search_createTime" type="text" class="form-control" name="workDay" datetime-picker="yyyyMMdd"
			           		 		enable-time="false" ng-model="vm.searchQuery.workDay" is-open="vm.datePickerOpenStatus.workDay"/>
			          		<span class="input-group-btn">
			           			<button type="button" class="btn btn-default" ng-click="vm.openCalendar('workDay')"><i class="glyphicon glyphicon-calendar"></i></button>
			            	</span>
		                </p>
		            </div>
	            </div>
	            <div class="col-sm-4">
	          		<label class="col-sm-4 control-label" data-translate="cpmApp.projectTimesheet.userName">User Name</label>
                    <div class="col-sm-8" >
	                   	<div class="input-group">
			          		<input type="text" class="form-control" name="userName"
			                  	ng-model="vm.searchQuery.userName" readonly ng-required="true" ng-minlength="1"
		                   	/>
		                   	<span class="input-group-btn">
		                     	<button type="button" class="btn btn-default" ui-sref="project-timesheet.queryDept({selectType:3,showChild:true})"><i class="glyphicon glyphicon-user"></i></button>
		                 	</span>
		            	</div>
                    </div>
	            </div>
            </div>
            <div class="form-group">
	            <div class="col-sm-4">
	            </div>
	            <div class="col-sm-4">
	            </div>
	            <div class="col-sm-4 pull-right">
	            	<div class="col-sm-4">
	            	</div>
	            	<div class="col-sm-8" >
		            	<span  class="width-min" >
	                        <button class="btn btn-info" ng-click="vm.search()">
	                            <span class="glyphicon glyphicon-search"></span>
	                            <span data-translate="entity.action.search"></span>
	                        </button>
	                    </span>
	                    <span class="width-min" ng-if="vm.haveSearch">
	                        <button class="btn btn-info" ng-click="vm.clear()">
	                            <span class="glyphicon glyphicon-trash"></span>
	                            <span data-translate="entity.action.clear"></span>
	                        </button>
	                    </span>
	            	</div>
	            </div>
            </div>
		</form>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="wut.workDay"><span data-translate="cpmApp.projectTimesheet.workDay">Work Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wut.userName"><span data-translate="cpmApp.projectTimesheet.userName">User Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wut.objName"><span data-translate="cpmApp.projectTimesheet.objName">Obj Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wut.realInput"><span data-translate="cpmApp.projectTimesheet.realInput">Real Input</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wut.acceptInput"><span data-translate="cpmApp.projectTimesheet.acceptInput">Accept Input</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wut.extraInput"><span data-translate="cpmApp.projectTimesheet.extraInput">Extra Input</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wut.acceptExtraInput"><span data-translate="cpmApp.projectTimesheet.acceptExtraInput">Accept Extra Input</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wut.updator"><span data-translate="cpmApp.projectTimesheet.updator">Updator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wut.updateTime" class="hidden-xs"><span data-translate="cpmApp.projectTimesheet.updateTime">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="projectTimesheet in vm.projectTimesheets track by projectTimesheet.id">
                    <td><a ui-sref="project-timesheet-detail({id:projectTimesheet.id})">{{projectTimesheet.workDay}}</a></td>
                    <td>{{projectTimesheet.userName}}</td>
                    <td>{{projectTimesheet.objName}}</td>
                    <td>{{projectTimesheet.realInput}}</td>
                    <td ng-class="{'btn-info':(projectTimesheet.realInput != projectTimesheet.acceptInput)}">{{projectTimesheet.acceptInput}}</td>
                    <td>{{projectTimesheet.extraInput}}</td>
                    <td ng-class="{'btn-info':(projectTimesheet.extraInput != projectTimesheet.acceptExtraInput)}">{{projectTimesheet.acceptExtraInput}}</td>
                    <td>{{projectTimesheet.updator}}</td>
                    <td class="hidden-xs">{{projectTimesheet.updateTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="project-timesheet-detail({id:projectTimesheet.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="project-timesheet.edit({id:projectTimesheet.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>