<div>
    <h2 data-translate="cpmApp.holidayInfo.home.title">Holiday Infos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row form-horizontal">
        	<div class="form-group">
	            <div class="col-xs-12">
	                <button class="btn btn-primary" ui-sref="holiday-info.new" >
	                    <span class="glyphicon glyphicon-plus"></span>
	                    <span data-translate="cpmApp.holidayInfo.home.createLabel">
	                        Create new Holiday Info
	                    </span>
	                </button>
	            </div>
	       	</div>
         </div>
         <br/>
         <form name="searchForm" class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-4">
					<label class="col-sm-4 control-label" data-translate="cpmApp.holidayInfo.home.fromCurrDay">From CurrDay</label>
					<div class="col-sm-8">
						<p class="input-group">
							<input id="search_fromCurrDay" type="text" class="form-control" name="fromCurrDay" datetime-picker="yyyyMMdd"
								enable-time="false" ng-model="vm.searchQuery.fromCurrDay" is-open="vm.datePickerOpenStatus.fromCurrDay" /> 
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('fromCurrDay')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<label class="col-sm-4 control-label" data-translate="cpmApp.holidayInfo.home.toCurrDay">From CurrDay</label>
					<div class="col-sm-8">
						<p class="input-group">
							<input id="search_toCurrDay" type="text" class="form-control" name="toCurrDay" datetime-picker="yyyyMMdd" enable-time="false"
								ng-model="vm.searchQuery.toCurrDay" is-open="vm.datePickerOpenStatus.toCurrDay" /> 
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('toCurrDay')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="col-sm-4">
						&nbsp;
					</div>
					<div class="col-sm-8 pull-right">
						<span  class="width-min" >
	                       <button class="btn btn-info" ng-click="vm.search()">
	                           <span class="glyphicon glyphicon-search"></span>
	                           <span data-translate="entity.action.search"></span>
	                       </button>
	                   </span>
	                   <span class="width-min" ng-if="vm.haveSearch">
	                       <button class="btn btn-info" ng-click="vm.clear()">
	                           <span class="glyphicon glyphicon-trash"></span>
	                           <span data-translate="entity.action.clear"></span>
	                       </button>
	                   </span>
					</div>
				</div>
			</div>
		</form>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="currDay"><span data-translate="cpmApp.holidayInfo.currDay">Curr Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="cpmApp.holidayInfo.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updator"><span data-translate="cpmApp.holidayInfo.updator">Updator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updateTime"><span data-translate="cpmApp.holidayInfo.updateTime">Update Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="holidayInfo in vm.holidayInfos track by holidayInfo.id">
                    <td><a ui-sref="holiday-info-detail({id:holidayInfo.id})">{{holidayInfo.id}}</a></td>
                    <td>{{holidayInfo.currDay}}</td>
                    <td>{{holidayInfo.type}}</td>
                    <td>{{holidayInfo.updator}}</td>
                    <td>{{holidayInfo.updateTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="holiday-info-detail({id:holidayInfo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="holiday-info.editByCalendar({id:holidayInfo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <span data-translate="cpmApp.holidayInfo.calendar"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="holiday-info.edit({id:holidayInfo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span data-translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
