<div>
	<h2 data-translate="cpmApp.holidayInfo.home.createOrEditLabel" ng-hide="{{vm.holidayInfo.currDay}}">Create or edit a Holiday Info</h2>
	<h2 data-translate="cpmApp.holidayInfo.home.editLabel" ng-show="{{vm.holidayInfo.currDay}}">Create or edit a Holiday Info</h2>
	<hr>
	<form name="editForm" role="form" novalidate ng-submit="vm.save()">
		<div class="container-fluid">
			<div class="row form-horizontal">
		        <div class="form-group">
		        	<div class="col-sm-6">
			            <label class="control-label" data-translate="cpmApp.holidayInfo.currDay" for="field_currDay">Curr Day</label>
			            <div class="input-group">
				            <input type="text" class="form-control" name="currDay" id="field_currDay" enable-time="false" ng-required="true" readonly
				                    ng-model="vm.holidayInfo.currDay" is-open="vm.datePickerOpenStatus.currDay" datetime-picker="yyyyMMdd"
				                     />
				            <span class="input-group-btn">
				            	<button type="button" class="btn btn-default" ng-click="vm.openCalendar('currDay')" ng-disabled="{{vm.holidayInfo.currDay}}"><i class="glyphicon glyphicon-calendar"></i></button>
				            </span>
			            </div>
			    	</div>
		        	<div class="col-sm-6">
			            <label class="control-label" data-translate="cpmApp.holidayInfo.type" for="field_type">Type</label>
			            <select class="form-control" ng-model="vm.holidayInfo.type" name = "type" ng-required="true"
						        ng-options="holiStatus.val for holiStatus in vm.holiStatuss track by holiStatus.key">
						</select>
					</div>
				</div>
			</div>
	    </div>
	    <hr>
	    <jhi-alert></jhi-alert>
		<jhi-alert-error></jhi-alert-error>
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
	</form>
</div>